{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}О нас{% endblock %}
{% block content %}
			<main class="page">
				<div class="parfumeria">
					<div class="parfumeria__container _containerr">
						<div class="parfumeria__wp">
							<div class="parfumeria__title">
								Парфюмерия для нас - это не просто аромат
							</div>
							<div class="parfumeria__content">
								<p>Мы рады приветствовать вас в CORGIFUME. Здесь вы найдете широкий выбор ароматов, которые помогут подчеркнуть вашу уникальность и стиль. Наша команда с большим вниманием отбирает каждый
									продукт, чтобы предложить вам только лучшее.</p>
								<div class="parfumeria__block">
									<div class="parfumeria__item">
										<h3>Миссия</h3>
										<p>Парфюмерия для нас - это способ выразить себя, подчеркнуть свою индивидуальность и добавить ярких красок в повседневную жизнь.</p>
									</div>
									<div class="parfumeria__item">
										<h3>Ценности</h3>
										<p>Для нас важно, чтобы каждый клиент чувствовал себя особенным и знал, что мы действительно заботимся о его выборе.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="parfumeria__img"><img src={% static "images/we_are.png"%} alt></div>
						<div class="parfumeria__wp">
							<div class="parfumeria__title">
								Почему выбирают CORGIFUME
							</div>
							<div class="parfumeria__content">
								<p>Мы всегда рады общению с нашими клиентами. Если у вас есть вопросы, пожелания или предложения, не стесняйтесь обращаться к нам через сайт, почту или телеграм. Мы всегда готовы помочь!</p>
								<p>Благодарим вас за выбор CORGIFUME. Ваше доверие - наша главная ценность. Добро пожаловать в мир уникальных ароматов!</p>
							</div>

						</div>
					</div>
				</div>
				<div class="aboutt">
					<div class="aboutt__container">
						<div class="aboutt__title">О нас говорят</div>
						<div class="aboutt__subtitle">Средний рейтинг нашего магазина <span>4.7 / 5 </span> из <span>250.905</span> оставивших отзыв</div>
						<div class="aboutt__block _swiper">
							<div class="aboutt__item">
								<div class="aboutt__stars">
									<div class="rating">
										<div class="rating__body">
											<div class="rating__active"></div>
											<div class="rating__items">
												<input type="radio" class="rating__item" value="1" name="rating">
												<input type="radio" class="rating__item" value="2" name="rating">
												<input type="radio" class="rating__item" value="3" name="rating">
												<input type="radio" class="rating__item" value="4" name="rating">
												<input type="radio" class="rating__item" value="5" name="rating">
											</div>
										</div>
										<div class="rating__value">3.6</div>

									</div>
								</div>
								<div class="aboutt__head">Доставка была моментальной</div>
								<div class="aboutt__text">Откройте для себя новый аромат современной женственности с новым Sì Eau De Parfum Intense от Giorgio Armani!</div>
								<div class="aboutt__name">Александра</div>
								<div class="aboutt__time">10 часов назад</div>
							</div>
							<div class="aboutt__item">
								<div class="aboutt__stars">
									<div class="rating">
										<div class="rating__body">
											<div class="rating__active"></div>
											<div class="rating__items">
												<input type="radio" class="rating__item" value="1" name="rating">
												<input type="radio" class="rating__item" value="2" name="rating">
												<input type="radio" class="rating__item" value="3" name="rating">
												<input type="radio" class="rating__item" value="4" name="rating">
												<input type="radio" class="rating__item" value="5" name="rating">
											</div>
										</div>
										<div class="rating__value">3.6</div>

									</div>
								</div>
								<div class="aboutt__head">Доставка была моментальной</div>
								<div class="aboutt__text">Откройте для себя новый аромат современной женственности с новым Sì Eau De Parfum Intense от Giorgio Armani!</div>
								<div class="aboutt__name">Александра</div>
								<div class="aboutt__time">10 часов назад</div>
							</div>
							<div class="aboutt__item">
								<div class="aboutt__stars">
									<div class="rating">
										<div class="rating__body">
											<div class="rating__active"></div>
											<div class="rating__items">
												<input type="radio" class="rating__item" value="1" name="rating">
												<input type="radio" class="rating__item" value="2" name="rating">
												<input type="radio" class="rating__item" value="3" name="rating">
												<input type="radio" class="rating__item" value="4" name="rating">
												<input type="radio" class="rating__item" value="5" name="rating">
											</div>
										</div>
										<div class="rating__value">3.6</div>

									</div>
								</div>
								<div class="aboutt__head">Доставка была моментальной</div>
								<div class="aboutt__text">Откройте для себя новый аромат современной женственности с новым Sì Eau De Parfum Intense от Giorgio Armani!</div>
								<div class="aboutt__name">Александра</div>
								<div class="aboutt__time">10 часов назад</div>
							</div>
							<div class="aboutt__item">
								<div class="aboutt__stars">
									<div class="rating">
										<div class="rating__body">
											<div class="rating__active"></div>
											<div class="rating__items">
												<input type="radio" class="rating__item" value="1" name="rating">
												<input type="radio" class="rating__item" value="2" name="rating">
												<input type="radio" class="rating__item" value="3" name="rating">
												<input type="radio" class="rating__item" value="4" name="rating">
												<input type="radio" class="rating__item" value="5" name="rating">
											</div>
										</div>
										<div class="rating__value">3.6</div>

									</div>
								</div>
								<div class="aboutt__head">Доставка была моментальной</div>
								<div class="aboutt__text">Откройте для себя новый аромат современной женственности с новым Sì Eau De Parfum Intense от Giorgio Armani!</div>
								<div class="aboutt__name">Александра</div>
								<div class="aboutt__time">10 часов назад</div>
							</div>
							<div class="aboutt__item">
								<div class="aboutt__stars">
									<div class="rating">
										<div class="rating__body">
											<div class="rating__active"></div>
											<div class="rating__items">
												<input type="radio" class="rating__item" value="1" name="rating">
												<input type="radio" class="rating__item" value="2" name="rating">
												<input type="radio" class="rating__item" value="3" name="rating">
												<input type="radio" class="rating__item" value="4" name="rating">
												<input type="radio" class="rating__item" value="5" name="rating">
											</div>
										</div>
										<div class="rating__value">4.6</div>

									</div>
								</div>
								<div class="aboutt__head">Доставка была моментальной</div>
								<div class="aboutt__text">Откройте для себя новый аромат современной женственности с новым Sì Eau De Parfum Intense от Giorgio Armani!</div>
								<div class="aboutt__name">Александра</div>
								<div class="aboutt__time">10 часов назад</div>
							</div>
							<div class="aboutt__item">
								<div class="aboutt__stars">
									<div class="rating">
										<div class="rating__body">
											<div class="rating__active"></div>
											<div class="rating__items">
												<input type="radio" class="rating__item" value="1" name="rating">
												<input type="radio" class="rating__item" value="2" name="rating">
												<input type="radio" class="rating__item" value="3" name="rating">
												<input type="radio" class="rating__item" value="4" name="rating">
												<input type="radio" class="rating__item" value="5" name="rating">
											</div>
										</div>
										<div class="rating__value">3</div>

									</div>
								</div>
								<div class="aboutt__head">Доставка была моментальной</div>
								<div class="aboutt__text">Откройте для себя новый аромат современной женственности с новым Sì Eau De Parfum Intense от Giorgio Armani!</div>
								<div class="aboutt__name">Александра</div>
								<div class="aboutt__time">10 часов назад</div>
							</div>
						</div>
						<div class="slider-quality__pagging"></div>

					</div>
				</div>
				<div class="blogg">
					<div class="blogg__container">
						<div class="blogg__title">Блог</div>
						<div class="blogg__block _swiper">
							<div class="blogg__item">
								<div class="blogg__img"><img src={% static "images/Image.png"%} alt></div>
								<div class="blogg__head">LOOKFANTASTIC THE BOX: СЕНТЯБРЬСКОЕ РЕДАКТИРОВАНИЕ</div>
								<div class="blogg__text">Обновите свою естественную рутину красоты с помощью 6 омолаживающих средств, включая Eve Lom, PIXI и другие! Стоимостью более 63 фунтов стерлингов, ваша всего за 13
									фунтов стерлингов!</div>
								<div class="blogg__btn"><a href>ПОДПИСАТЬСЯ</a></div>
							</div>
							<div class="blogg__item">
								<div class="blogg__img"><img src={% static "images/Image.png"%} alt></div>
								<div class="blogg__head">LOOKFANTASTIC THE BOX: СЕНТЯБРЬСКОЕ РЕДАКТИРОВАНИЕ</div>
								<div class="blogg__text">Обновите свою естественную рутину красоты с помощью 6 омолаживающих средств, включая Eve Lom, PIXI и другие! Стоимостью более 63 фунтов стерлингов, ваша всего за 13
									фунтов стерлингов!</div>
								<div class="blogg__btn"><a href>ПОДПИСАТЬСЯ</a></div>
							</div>
						</div>
						<div class="slider-quality__pagging2"></div>
					</div>
				</div>

				<div class="faqq">
					<div class="faqq__container">
						<div class="faqq__left">
							<div class="faqq__title">Часто задаваемые вопросы</div>
							<div class="faqq__subtitle">Если у Вас остались ещё вопросы, то напишите нам в <a href>Telegram</a></div>
						</div>
						<div class="faqq__right _anim-quest">
							<div class="faqq__item ">
								<div class="faqq__quest _quest">Как я могу быть уверен(а) в подлинности парфюмерии в CORGIFUME?</div>
								<div class="faqq__resp _resp">
									<p>В CORGIFUME мы гарантируем 100% подлинность всех наших ароматов. Мы работаем напрямую с известными брендами и официальными дистрибьюторами, чтобы обеспечить вас только оригинальной продукцией высочайшего качества.</p>
								</div>
							</div>
							<div class="faqq__item ">
								<div class="faqq__quest _quest">Есть ли у вас программа лояльности для постоянных покупателей?</div>
								<div class="faqq__resp _resp">
									<p>Да, в CORGIFUME мы разработали мотивирующую программу лояльности, которая не только предлагает нашим клиентам эксклюзивные скидки и специальные предложения, но и включает в себя уникальные привилегии для наших постоянных покупателей. С увеличением вашего уровня в программе лояльности вы получаете больше пробников в подарок к каждому заказу, увеличивается количество бонусных баллов за покупки, а также вы получаете эксклюзивные привилегии в день рождения — от скидок на любой аромат до возможности выбрать аромат в подарок абсолютно бесплатно.</p>
								</div>
							</div>
							<div class="faqq__item ">
								<div class="faqq__quest _quest">Почему такая приятная цена?</div>
								<div class="faqq__resp _resp">
									<p>Обновите свою естественную рутину красоты с помощью 6 омолаживающих средств, включая Eve Lom, PIXI и другие! Стоимостью более 63 фунтов стерлингов, ваша всего за 13 фунтов стерлингов!</p>
								</div>
							</div>
							<div class="faqq__item ">
								<div class="faqq__quest _quest">Могу ли я получить пробник перед покупкой полноразмерного продукта?</div>
								<div class="faqq__resp _resp">
									<p> Конечно! Мы предлагаем возможность заказа пробников, а также услугу доставки выбранного аромата курьером для пробной фиксации. Это позволит вам убедиться в выборе перед покупкой. Детали услуги и как ею воспользоваться, вы найдете на нашем сайте.</p>
								</div>
							</div>
							<div class="faqq__item ">
								<div class="faqq__quest _quest">Какие способы оплаты вы принимаете?</div>
								<div class="faqq__resp _resp">
									<p>Мы принимаем все виды онлайн-оплаты через наш сайт. К сожалению, наличные и наложенный платеж не принимаются. Все транзакции защищены и безопасны.</p>
								</div>
							</div>
							<div class="faqq__btn">
								<a href="{% url 'users:question' %}">Написать обращение</a>
								<a href class="_tg">Написать вопрос в Telegram</a>
							</div>
						</div>
					</div>
				</div>
			</main>
{% endblock %}