{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="shortcut icon" href={% static 'favicon.ico' %} type="image/x-icon" />
        <link rel="stylesheet" href={% static 'css/style.min.css' %} />
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                <div class="bonus header__bonus" style="margin-top: 0px;">
                    <div class="bonus__container">
                        <p>Получи 300 бонусов на первый заказ по промокоду START300</p>
                        <div class="bonus__button-close">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M18 6L6 18M6 6L18 18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="header__top top-header">
                    <div class="top-header__container">
                        <a href={% url 'main_page' %}  class="logo top-header__logo">
                            <img src={% static 'images/logo.svg' %} alt="Логотип" />
                        </a>
                        <nav class="your-menu menu top-header__menu">
                            <ul class="menu__list">
                                <li class="menu__item"><a href={% url 'catalog' %} class="menu__link">Каталог</a></li>
                                <li class="menu__item"><a href={% url 'brands' %} class="menu__link">Бренды</a></li>
                                <li class="menu__item"><a href={% url 'about_us' %} class="menu__link">О нас</a></li>
                                <li class="menu__item"><a href="#" class="menu__link">Блог</a></li>
                            </ul>
                            <div class="menu__row">
                                <div class="menu__left-link"><a href="#">Условия пользования </a><a href="#">Политика конфиденциальности </a><a href="#">Информация о файлах coockie </a><a href="#">Индивидуальные предложения</a></div>
                                <div class="menu__right-link"><a href={% url 'about_us' %}>О нас </a>
                                    <a href="#">Каталог товаров </a>
                                    <a href="#">Партнерство </a>
                                    <a href="#">Скидка студентам</a></div>
                            </div>
                            <div class="menu__button-row"><a href="#" class="button menu__button">Регистрация </a><a href="#" class="button white menu__button">Авторизоваться</a></div>
                        </nav>
                        <div class="search top-header__search your-class" data-da=".top-header__icon-row, 620, first">
                            <div class="search__button-open">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path
                                        d="M21 21L16.65 16.65M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z"
                                        stroke="#0A0103"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                </svg>
                            </div>
                            <div class="search__row">
                                <form action="#" class="search__body">
                                    <input type="text" name="search" id="search-header" class="search__input text" placeholder="Поиск по сайту" />
                                    <button class="search__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path
                                                d="M21 21L16.65 16.65M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z"
                                                stroke="#667085"
                                                stroke-width="1.66667"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="top-header__user user">
                            {% if user.is_authenticated %}
                            <a href={% url 'users:profile' %} class="user__item">
                                <img src={% static "images/user-icon.svg" %} alt="" class="user__icon" />
                                <p>Мой аккаунт</p>
                            </a>
                            {% else %}
                            <a href={% url 'users:login' %} class="user__item">

                                <img src={% static "images/user-icon.svg" %} alt="" class="user__icon" />
                                <p>Мой аккаунт</p>
                            </a>
                            {% endif %}
                            <div class="user__item user__open-basket">
                                <img src={% static "images/shopping-icon.svg" %} alt="" class="user__icon" />
                                <p>Моя корзина</p>
                            </div>
                        </div>
                        <div class="top-header__icon-row">
                            <button class="your-menu header__burger icon-menu"><span></span> <span class="two"></span></button>
                        </div>
                    </div>
                </div>
                <div class="bottom-header header__bottom">
                    <div class="bottom-header__container">
                        <div class="bottom-header__row" >
                            <div class="bottom-header__item">
                                <img src= {% static "images/box-icon.svg" %} alt="" />
                                <p>Беслатная доставка на заказы от 5000 рублей</p>
                            </div>
                            <div class="bottom-header__item">
                                <img src={% static "images/clock-icon.svg" %} alt="" />
                                {% comment %} <p>Первоначальная доставка на 12 месяцев от 1500 руб</p> {% endcomment %}
                                <p>Экспресс доставка день в день при выборе опции</p>
                            </div>
                            <div class="bottom-header__item">
                                <img src={% static "images/coin-icon.svg" %} alt="" />
                                {% comment %} <p>Скидка 20% на первый заказ</p> {% endcomment %}
                                <p>Лучшая программа лояльности</p>
                            </div>
                            <div class="bottom-header__item">
                                <img src={% static "images/thumbs-icon.svg" %} alt="" />
                                <p>Присоединяйтесь к нашим партнерам</p>
                            </div>
                        </div>
                        <div class="bottom-header__row" aria-hidden="true">
                            <div class="bottom-header__item">
                                <img src={% static "images/box-icon.svg" %} alt="" />
                                <p>Беслатная доставка на заказы от 5000 рублей</p>
                            </div>
                            <div class="bottom-header__item">
                                <img src={% static "images/clock-icon.svg" %} alt="" />
                                <p>Первоначальная доставка на 12 месяцев от 1500 руб</p>
                            </div>
                            <div class="bottom-header__item">
                                <img src={% static "images/coin-icon.svg"%} alt="" />
                                <p>Скидка 20% на первый заказ</p>
                            </div>
                            <div class="bottom-header__item">
                                <img src={% static "images/thumbs-icon.svg" %} alt="" />
                                <p>Присоединяйтесь к нашим партнерам</p>
                            </div>
                        </div>
                    </div>
                </div>
         {% comment %}КОРЗИНА{% endcomment %}
                <div class="card-basket">
                    <div class="card-basket__button-close">
                        <img src={% static "images/button-close.svg" %} alt="" />
                    </div>
                    <div class="card-basket__title">Корзина</div>
                    {% if cart|length == 0 %}
                    
                    <div class="card-basket__body prod-tab">
                        <div class="prod-tab__body">
                            <p style="margin-top:20px;">В настоящий момент в корзине нет товаров...</p>
                        </div>
                    </div>

                    
                    {% else %}
                    
                    

                    {% for item in cart %}  
                    <div class="card-basket__head">
                        <div class="card-basket__point" id="productAmount_{{item.product.id}}">{{ item.quantity }} шт.</div>
                        <div class="card-basket__remove" data-type="popup-remov">Сбросить</div>
                    </div>
                        <div class="card-basket__body prod-tab">
                            <div class="prod-tab__body">
                                <div class="prod-tab__name">
                                    <picture>
                                        <source srcset={% static item.product.image.first %} type="image/webp" />
                                        <img src={% static item.product.image.first %} alt="" class="prod-tab__img" />
                                    </picture>
                                    <div class="prod-tab__about">
                                        <h3>{{ item.product.name }}</h3>
                                        <p class="prod-tab__category">{{ item.product.category }}</p>
                                        <p class="prod-tab__category">{{ item.product.ml }} мл.</p>
                                        <div class="price">{{ item.product.price }} RUB</div>
                                            <div class="quantity__row">
                                                
                                                <form action="{% url 'remove_cart' %}" method="post" class="removeCartClass">
                                                    {% csrf_token %}
                                                    {{ item.update_quantity_form.quantity }}
                                                    {{ item.update_quantity_form.update }}
                                                    <input type="hidden" name="product_id" value="{{ item.product.id }}" id="remove_{{item.product.id}}">
                                                    <input type="submit" value="-" class="quantity__number-minus"> 
                                                </form>
                                                                                            
                                                <span class="quantity__input" id="quantityID_{{item.product.id}}">{{ item.quantity }}</span>
                                                                                            
                                                <form action="{% url 'add_certain' %}" method="post" class="addCartClass">
                                                    {% csrf_token %}
                                                    {{ item.update_quantity_form.quantity }}
                                                    {{ item.update_quantity_form.update }}
                                                    <input type="hidden" name="product_id" value="{{ item.product.id }}" id="add_{{item.product.id}}">
                                                    <input type="submit" value="+" class="quantity__number-plus"> 
                                                 </form>
                                            </div>
                                        {% comment %} </div> {% endcomment %}
                                    </div>
                                    {% comment %} <div class="card-basket__remove">
                                        <img src={% static "images/button-remove.svg" %} alt="" />
                                        <div data-type="popup-remov"></div>
                                    </div> {% endcomment %}
                                </div>
                            </div>
                        </div>
                        <div class="_overlay-bg popup-remove" data-popup="popup-remov">
                            <div class="popup-remove__body">
                                <div class="button-close popup-remove__button-close"><img src="images/button-close.svg" alt="" /></div>
                                <div class="popup-remove__title">Удаление товара</div>
                                <p>Удалить выбранный товар? Отменить действие будет невозможно.</p>
                                <div class="popup-remove__button-row">
                                    <div class="button white button-close popup-remove__button">Оставить</div>
                                    
                                    <form action="{% url 'delete_product' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_id" value="{{ item.product.id }}">
                                        <input type="submit" value="УДАЛИТЬ" class="button button-close popup-remove__button">
                                    </form>
                                </div>
                            </div>
                        </div> 
                    {% endfor %}
                    {% comment %} {% endwith %} {% endcomment %}
                    <div class="card-basket__bottom">
                        <div class="card-basket__result">
                            <p>Итого ({{ cart.get_total_len }} позиций)</p>
                            <p class="card-basket__result-price">{{ cart.get_total_price }} РУБ</p>
                        </div>
                        <div class="card-basket__button-row">
                            <a href={% url 'cart:cart_detail' %} class="button white card-basket__button">В КОРЗИНУ</a>
                            <a href={% url 'order:order-create' %} class="button card-basket__button">ОФОРМИТЬ ЗАКАЗ</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </header>
            {% block content %}
            {% endblock %}
            <footer class="footer">
                <div class="footer__container">
                    <div class="footer__top">
                        <div class="footer__body">
                            <a href="#" class="footer__logo"><img src="images/logo.svg" alt="" /></a>
                            <p class="footer__vip">Подпишитесь на нашу электронную рассылку, чтобы получать VIP-предложения и оповещения о новых продуктах.</p>
                            <a href="#" class="button footer__button">ПОДПИСАТЬСЯ</a>
                            <div class="footer__text">Подписываясь, вы соглашаетесь с нашей Политикой конфиденциальности и даете согласие на получение обновлений от нашей компании.</div>
                        </div>
                        <div class="footer__row">
                            <div class="footer__item">
                                <div class="footer__title-list">Информация о компании</div>
                                <ul class="footer__list">
                                    <li class="footer__li"><a href="#">Условия пользования</a></li>
                                    <li class="footer__li"><a href="#">Политика конфиденциальности</a></li>
                                    <li class="footer__li"><a href="#">Информация о файлах coockie</a></li>
                                    <li class="footer__li"><a href="#">Индивидуальные предложения</a></li>
                                </ul>
                            </div>
                            <div class="footer__item">
                                <div class="footer__title-list">Компания</div>
                                <ul class="footer__list">
                                    <li class="footer__li"><a href="#">О нас</a></li>
                                    <li class="footer__li"><a href="#">Каталог товаров</a></li>
                                    <li class="footer__li"><a href="#">Партнерство</a></li>
                                    <li class="footer__li"><a href="#">Скидка студентам</a></li>
                                    <li class="footer__li"><a href="#">Блог</a></li>
                                </ul>
                            </div>
                            <div class="footer__item">
                                <div class="footer__title-list">Связаться с нами</div>
                                <ul class="footer__list">
                                    <li class="footer__li">
                                        <a href="#">
                                            <img src={% static "images/tg.svg" %} alt="" style="margin-left:2px;"/>
                                            <p>Telegram</p>
                                        </a>
                                    </li>
                                    <li class="footer__li">
                                        <a href="#">
                                            <img src={% static "images/mail.svg" %} alt="" style="margin-left:2px;"/>
                                            <p>info@corgifume.com</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer-bot footer__bottom">
                        <div class="footer-bot__protected">© 2023 CORGIFUME. Все права защищены.</div>
                        <ul class="footer-bot__list">
                            <li class="footer-bot__li"><a href="#">Политика конфиденциальности</a></li>
                            <li class="footer-bot__li"><a href="#">Условия использования</a></li>
                            <li class="footer-bot__li"><a href="#">Настройки файлов cookie</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
        <script src={% static 'js/app.min.js' %}></script>
        <script src={% static 'js/vendors.min.js' %}></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src={% static 'js/ajax.js' %}></script>            
</body>
</html>