{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Бренды{% endblock %}
{% block content %}
<body>
    <div class="wrapper">
        <main class="page">
            <ul class="az-brands__navigation" style="top: 176px; margin-left: 8px;">
                {% for letter in letters %}    
                    <li class="az-brands__navigation-letter">
                        <a href="#section_{{ letter }}">{{ letter }}</a>
                    </li>
                {% endfor %}  
            </ul>
            <div class="parfumeria__item" style="text-align: center;">
                <div class="brands__row">
                    {% for brand_key, brand_value in brands.items %}
                        <div class="brands__column" id="section_{{brand_key}}">
                            <h2>{{ brand_key }}</h2>
                            <ul>
                                {% for brand in brand_value %}
                                    <li>
                                        <a href="{% url 'brand_catalog' link_brand=brand %}" name={{ brand }} class="brands__link">{{ brand }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>      
                    {% endfor %}
                </div>
            </div>
        </main>
    </div>
</body>






  
{% endblock %}



