{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Условия пользования{% endblock %}
{% load static %}
{% block content %}
<body>
    <div class="about__conditions">
        <h1 class="conditions__header">Настоящая Оферта — адресованное неопределенному кругу лиц приглашение от CORGIFUME (далее “Продавец”), сделать Заказ и заключить договор купли-продажи Товара в соответствии с п. 1 ст. 437 Гражданского кодекса Российской Федерации.</h1>
        <div class="conditions__item conditions__definitions" > 
            <p class="conditions__subheader">1. Термины и определения</p>
            <p class="conditions__paragraph">Оферта — публичное предложение Продавца, адресованное неопределенному кругу лиц, заключить с Продавцом договор купли-продажи товара дистанционным способом (далее — «Договор») на условиях, содержащихся в настоящей Оферте.
                Заказ — позиции, указанные Покупателем из ассортимента Товара, предложенного к продаже на Сайте www.corgifume.ru.
                Товар — парфюмерия и сопутствующие товары, реализуемые Продавцом на Сайте.
                Сайт — www.corgifume.ru.
                Покупатель — физическое лицо, оформившее Заказ на Сайте.</p>
        </div>
        <div class="conditions__item conditions__provisions">
            <p class="conditions__subheader">2. Общие положения</p>
            <p class="conditions__paragraph">2.1. Заказ Покупателем Товара на Сайте означает согласие с условиями настоящей Оферты.</p>
            <p class="conditions__paragraph">2.2. Продавец имеет право вносить изменения в Оферту без уведомления Покупателя.</p>    
            <p class="conditions__paragraph">2.3. Срок действия Оферты не ограничен.</p> 
            <p class="conditions__paragraph">2.4. Продавец предоставляет Покупателю полную и достоверную информацию о Товаре на Сайте.</p>
        </div>
        <div class="conditions__item conditions__price">
            <p class="conditions__subheader">3. Цена товара</p>
            <p class="conditions__paragraph">3.1. Цена на каждую позицию Товара указана на Сайте.</p>
            <p class="conditions__paragraph">3.2. Продавец имеет право изменять цену на любую позицию Товара в одностороннем порядке.</p>   
            <p class="conditions__paragraph">3.3. Изменение цены на оплаченный Товар не допускается.</p> 
            <p class="conditions__paragraph">3.4. Стоимость и условия доставки указаны на Сайте.</p>   
            <p class="conditions__paragraph">3.5. Обязательства Покупателя по оплате исполнены с момента поступления денег на счет Продавца.</p>
            <p class="conditions__paragraph">3.6. Расчеты производятся способами, указанными на Сайте.</p>
        </div>
        <div class="conditions__item conditions__order">
            <p class="conditions__subheader">4. Оформление заказа</p>
            <p class="conditions__paragraph">4.1. Заказ осуществляется на Сайте.</p>
            <p class="conditions__paragraph">4.2. Покупатель указывает наименование, количество, ассортимент, артикул, цену Товара в корзине.</p>
            <p class="conditions__paragraph">4.3. Продавец не несет ответственность за достоверность информации, предоставленной Покупателем при оформлении Заказа.</p>
            <p class="conditions__paragraph">4.4. Покупатель несет ответственность за предоставленную информацию при оформлении Заказа.</p>
            <p class="conditions__paragraph">4.5. Договор считается заключенным с момента выдачи кассового или товарного чека.</p>
        </div>
        <div class="conditions__item conditions__shipment">
            <p class="conditions__subheader">5. Доставка и передача товара</p>
            <p class="conditions__paragraph">5.1. Услуги по доставке Товара оказываются способами, указанными на Сайте.</p>
            <p class="conditions__paragraph">5.2. Продавец обязан доставить Товар в установленный срок.</p>
            <p class="conditions__paragraph">5.3. Место доставки указывает Покупатель при оформлении Заказа..</p>
            <p class="conditions__paragraph">5.4. Товар передается Покупателю или лицу, предъявившему документы на Товар.</p>
            <p class="conditions__paragraph">5.5. Информация о Товаре предоставляется в сопроводительной документации.</p>
            <p class="conditions__paragraph">5.6. Сведения о соответствии Товара представлены в соответствии с законодательством РФ.</p>
        </div>
        <div class="conditions__item conditions__returns">
            <p class="conditions__subheader">6. Возврат и обмен товара</p>
            <p class="conditions__paragraph">6.1. Согласно действующему законодательству Российской Федерации, парфюмерная продукция не подлежит обмену и возврату, если товар был приобретен на расстоянии и был вскрыт после доставки.</p>
            <p class="conditions__paragraph">6.2. Обмен и возврат товара возможен до момента передачи товара Покупателю, при условии, что товар не был вскрыт и сохранены его первоначальные свойства и потребительские качества, а также упаковка.</p>
            <p class="conditions__paragraph">6.3. В случае возникновения сомнений по качеству приобретенного товара после его получения, Покупатель имеет право обратиться в службу поддержки Продавца через официальный запрос на сайте www.corgifume.ru. Продавец обязуется рассмотреть обращение и принять соответствующие меры в соответствии с законодательством РФ.</p>
            <p class="conditions__paragraph">6.4. В случае, если по вине Продавца был доставлен товар ненадлежащего качества, потерян или поврежден, Продавец обязуется вернуть Покупателю уплаченные за товар средства в полном объеме или обменять товар на аналогичный без дополнительных расходов со стороны Покупателя, в соответствии с действующим законодательством Российской Федерации.</p>
            <p class="conditions__paragraph">6.5. Для урегулирования спорных вопросов Покупатель обязан предоставить все необходимые документы, подтверждающие факт покупки и оплаты товара, а также сохранность упаковки и товара до момента его вскрытия.</p>
        </div>
        <div class="conditions__item conditions__requisites">
            <p class="conditions__subheader">7. Реквизиты продавца</p>
            <p class="conditions__paragraph">Продавец: CORGIFUME</p>
            <p class="conditions__paragraph">Адрес: 119192, РОССИЯ, Г МОСКВА, Г МОСКВА, УЛ СКЛАДОЧНАЯ, Д. 1, СТР. 5</p>
            <p class="conditions__paragraph">Телефон:</p>
            <p class="conditions__paragraph">Сайт: www.corgifume.ru</p>
        </div>
        <div class="conditions__item conditions__bank">
        <p class="conditions__subheader">8. Банковские реквизиты:
        <p class="conditions__paragraph">Расчетный счет: 40802810300005950599 </p>
        <p class="conditions__paragraph">Банк: АО "ТИНЬКОФФ БАНК" </p>
        <p class="conditions__paragraph">ИНН банка: 7710140679</p>
        <p class="conditions__paragraph">БИК банка: 044525974</p>  
        <p class="conditions__paragraph">Корреспондентский счет банка: 30101810145250000974</p>  
        </div>
        <div class="conditions__item conditions__owner">
            <p class="conditions__subheader">ФИО руководителя: Образцов Андрей Сергеевич</p>
        </div>
    </div>
</body>
{% endblock %}