{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3 contacts-block">
        <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap"></use></svg>
        <h1 class="text-body-emphasis">Связь с нами:</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">Вы можете связаться с командой любым удобным для Вас способом! 
            Мы ответим в самое короткое время и решим возникший вопрос.
        </p>
        <div class="d-inline-flex gap-2 mb-5">
            <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">corgifume@mail.ru</button>
            <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">@corgifumeBOT</button>
            <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">+7-499-188-78-72</button>
            <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">79774567877</button>
        </div>
    </div>
</div>

{% comment %} <div class="mainBl">
    <div class="connectUs">
        <div class="connectText head">
            <h1>Вы можете связаться с нами любым удобным способом:</h1>
        </div>


        <div class="connectUsList req">
            <ul class="phoneList">
                <li>
                    <a href="#">8 (800) 200-44-23</a>
                </li>
                <li>
                    <a href="#">+7 (495) 255-12-45</a>
                </li>
                <li>
                    <a href="#">Написать в Телеграмм</a>
                </li>
                <li>
                    <a href="#">Написать в Whatsapp</a>
                </li>
            </ul>
        </div>

        <div class="connectUsList req">
            <ul class="mailList">
                <li>
                    <a href="#">crm@corgifume.ru</a>
                </li>
                <p>(по вопросам сотрудничества)<p>
                <li>
                    <a href="#">mail@corgifume.ru</a>
                </li>
                <p>(по вопросам заказов)<p>
            </ul>
        </div>
    </div>
</div> {% endcomment %}



















{% endblock %}