{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="brandLogos" data-component="brandLogos" data-block-type="Clone 1:Landing Page Makeup  - Categories" data-block-name="Clone 1:Landing Page Makeup  - Categories" data-widget-id="3295862" data-widget-gtm-only-tracking="" data-component-tracked-viewed="" data-component-tracked-clicked="">

    <p class="brandLogos_title">ОЗНАКОМЬТЕСЬ С НАШЕЙ КОЛЛЕКЦИЕЙ СРЕДСТВ ДЛЯ МАКИЯЖА</p>
    
    <a href="" class="brandLogos_link">
        <img src="https://static.thcdn.com/images/small/webp/widgets/95-ru/17/56_%281%29-111817.jpg" crossorigin="" loading="lazy" alt="View All" width="200px" height="200px" class="brandLogos_image">
    </a>
 
    <a href="" class="brandLogos_link">
        <img src="https://static.thcdn.com/images/small/webp/widgets/95-ru/59/57_%281%29-110959.jpg" crossorigin="" loading="lazy" alt="Bestsellers" width="200px" height="200px" class="brandLogos_image">
    </a>

    <a href="" class="brandLogos_link">
        <img src="https://static.thcdn.com/images/small/webp/widgets/95-ru/23/58-110923.jpg" crossorigin="" loading="lazy" alt="Face Makeup" width="200px" height="200px" class="brandLogos_image">
    </a>

    <a href="" class="brandLogos_link">
          <img src="https://static.thcdn.com/images/small/webp/widgets/95-ru/27/59-110927.jpg" crossorigin="" loading="lazy" alt="Eye Makeup" width="200px" height="200px" class="brandLogos_image">
    </a>

    <a href="" class="brandLogos_link">
        <img src="https://static.thcdn.com/images/small/webp/widgets/95-ru/32/60-110932.jpg" crossorigin="" loading="lazy" alt="Lips Makeup" width="200px" height="200px" class="brandLogos_image">
    </a>
    
    <a href="" class="brandLogos_link">
        <img src="https://static.thcdn.com/images/small/webp/widgets/95-ru/36/61-110936.jpg" crossorigin="" loading="lazy" alt="Makeup Accessories" width="200px" height="200px" class="brandLogos_image">
    </a>
</div>

<p class="cosmetics-paragraph-1">МАКИЯЖ ЛИЦА</p>

<div class="cosmetics-items">

    <div class="item">
        <img src="https://static.thcdn.com/images/small/webp/widgets/95-ru/22/original-EL_DW_April_LF_507x417_B-105222.jpg" crossorigin="" loading="lazy" alt="Foundation" width="425px" height="350px" class="threeItemEditorial_image">
        <p class="item-header">Тональные основы</p>
        <hr>
        <p class="item-text">Выберите подходящий тональный крем с помощью нашего ассортимента для любого типа и оттенка кожи.</p>
        <p>
            <a class="btn btn-secondary itm-btn" href="#">КУПИТЬ</a>
        </p>
    </div>

    <div class="item">
        <img src="https://static.thcdn.com/images/small/webp/widgets/95-ru/../../widgets/95-en/52/original-18-104452.jpg" crossorigin="" loading="lazy" alt="Concealer &amp; Colour Corrector" width="425px" height="350px" class="threeItemEditorial_image">
        <p class="item-header">Консилеры и цветные корректоры</p>
        <hr>
        <p class="item-text">Выравните тон кожи и скройте недостатки с помощью нашей коллекции консилеров и цветовых корректоров.</p>
        <p>
            <a class="btn btn-secondary itm-btn" href="#">КУПИТЬ</a>
        </p>
    </div>

    <div class="item">
        <img src="https://static.thcdn.com/images/small/webp/widgets/95-ru/24/original-original-COLLECTIONS_%281%29-125626-110324.jpg" crossorigin="" loading="lazy" alt="Blush" width="425px" height="350px" class="threeItemEditorial_image">
        <p class="item-header">Румяна</p>
        <hr>
        <p class="item-text">Выберите жидкие, пудровые и кремовые румяна от любимых брендов для здорового сияния кожи.</p>
        <p>
            <a class="btn btn-secondary itm-btn" href="#">КУПИТЬ</a>
        </p>
    </div>

</div>

<p class="cosmetics-paragraph-1">МАКИЯЖ ГЛАЗ</p>

<div class="cosmetics-items">

    <div class="item">
        <img src="https://static.thcdn.com/images/small/webp/widgets/95-ru/../../widgets/95-en/59/original-Together-We-Shine-Eyeshadowpalette_507X417-092059.jpg" crossorigin="" loading="lazy" alt="Eyeshadows" width="425px" height="350px" class="threeItemEditorial_image">
        <p class="item-header">Тени для век</p>
        <hr>
        <p class="item-text">Создавайте ослепительные, притягивающие взгляды, дневные и вечерние образы с лучшими высокопигментированными палетками теней для век и подчеркните свой творческий потенциал.</p>
        <p>
            <a class="btn btn-secondary itm-btn" href="#">КУПИТЬ</a>
        </p>
    </div>

    <div class="item">
        <img src="https://static.thcdn.com/images/small/webp/widgets/95-ru/../../widgets/95-en/54/original-Lashes_%26_Brows_FLL_507__x417-052454.jpg" crossorigin="" loading="lazy" alt="Mascaras" width="425px" height="350px" class="threeItemEditorial_image">
        <p class="item-header">Тушь для ресниц</p>
        <hr>
        <p class="item-text">Подчеркните глаза и придайте драматизм любому образу с помощью жидких, гелевых подводок и подводок-карандашей, которые позволят вам раскрыть свой творческий потенциал.</p>
        <p>
            <a class="btn btn-secondary itm-btn" href="#">КУПИТЬ</a>
        </p>
    </div>

    <div class="item">
        <img src="https://static.thcdn.com/images/small/webp/widgets/95-ru/10/original-Untitled_design_%283%29-113010.png" crossorigin="" loading="lazy" alt="Eyeliners" width="425px" height="350px" class="threeItemEditorial_image">
        <p class="item-header">Подводки для глаз</p>
        <hr>
        <p class="item-text">Подчеркните глаза и придайте драматизм любому образу с помощью жидких, гелевых подводок и подводок-карандашей, которые позволят вам раскрыть свой творческий потенциал.</p>
        <p>
            <a class="btn btn-secondary itm-btn" href="#">КУПИТЬ</a>
        </p>
    </div>

</div>

<p class="cosmetics-paragraph-1">МАКИЯЖ ГУБ</p>

<div class="cosmetics-items">

    <div class="item">
        <img src="https://static.thcdn.com/images/small/webp/widgets/95-ru/../../widgets/95-en/47/original-507x417-020047.jpg" crossorigin="" loading="lazy" alt="Lipsticks" width="425px" height="350px" class="threeItemEditorial_image">
        <p class="item-header">Помады для губ</p>
        <hr>
        <p class="item-text">От классических красных до нежно-нюдового оттенка — украсьте свои губы с помощью ярких, сочных помад для любого образа.</p>
        <p>
            <a class="btn btn-secondary itm-btn" href="#">КУПИТЬ</a>
        </p>
    </div>

    <div class="item">
        <img src="https://static.thcdn.com/images/small/webp/widgets/95-ru/../../widgets/95-en/46/original-36-120346.jpg" crossorigin="" loading="lazy" alt="Lip Plumpers" width="425px" height="350px" class="threeItemEditorial_image">
        <p class="item-header">Подводки и карандаши для губ</p>
        <hr>
        <p class="item-text">Увеличьте губы за считанные секунды с помощью этих средств в высоким содержанием коллагена.</p>
        <p>
            <a class="btn btn-secondary itm-btn" href="#">КУПИТЬ</a>
        </p>
    </div>

    <div class="item">
        <img src="https://static.thcdn.com/images/small/webp/widgets/95-ru/34/original-BB_LuxeDefiningLip_LF_507x417-111834.jpg" crossorigin="" loading="lazy" alt="Lip Liners and Pencils" width="425px" height="350px" class="threeItemEditorial_image">
        <p class="item-header">Средства для увеличения губ</p>
        <hr>
        <p class="item-text">Придайте объема и полноты своим губам с помощью подводки или карандаша для губ, которые идеально дополнят вашу помаду.</p>
        <p>
            <a class="btn btn-secondary itm-btn" href="#">КУПИТЬ</a>
        </p>
    </div>

</div>

<p class="cosmetics-paragraph-1">БЕСТСЕЛЛЕРЫ</p>

<div class="cosmetics-items">

    <div class="item">
        <img src="https://static.thcdn.com/images/small/webp/widgets/95-ru/38/original-2-024838.jpg" crossorigin="" loading="lazy" alt="" width="425px" height="350px" class="threeItemEditorial_image">
        <p class="item-header">Natasha Denona</p>
        <hr>
        <p class="item-text">Представляем культовый бренд косметики Natasha Denona; выбор высококачественной, выдающейся косметики, которая меняет индустрию красоты.</p>
        <p>
            <a class="btn btn-secondary itm-btn" href="#">КУПИТЬ</a>
        </p>
    </div>

    <div class="item">
        <img src="https://static.thcdn.com/images/small/webp/widgets/95-ru/14/original-preview-full-LookFantastic_Cushion_NewIn-025214.jpg" crossorigin="" loading="lazy" alt="" width="425px" height="350px" class="threeItemEditorial_image">
        <p class="item-header">Chantecaille</p>
        <hr>
        <p class="item-text">Являясь одним из самых роскошных косметических брендов по уходу за кожей, Chantecaille является лидером, когда речь заходит о высококачественной и ориентированной на результат косметике.</p>
        <p>
            <a class="btn btn-secondary itm-btn" href="#">КУПИТЬ</a>
        </p>
    </div>

    <div class="item">
        <img src="https://static.thcdn.com/images/small/webp/widgets/95-ru/01/original-0804-STDCRE-19800-LF-EF-Mac-Resize-507x417-024801.jpg" crossorigin="" loading="lazy" alt="" width="425px" height="350px" class="threeItemEditorial_image">
        <p class="item-header">MAC</p>
        <hr>
        <p class="item-text">MAC Cosmetics - это один из лидирующих брендов косметики, который в одинаковой степени любим звездами, блоггерами и мейк-ап артистами по всему миру.</p>
        <p>
            <a class="btn btn-secondary itm-btn" href="#">КУПИТЬ</a>
        </p>
    </div>

</div>

<div class="cosmetics-final-text">
    <p class="final-header">Косметика</p>
    <p class="final-text">Выразите свою индивидуальность с помощью безупречного макияжа. Благодаря правильным инструментам для создания образа на любой случай, у нас есть огромное количество продуктов, которые подчеркнут вашу естественную красоту и черты лица. Натуральный макияж для офиса, утонченный образ на первое свидание или гламурные и яркие цвета для потрясающей голливудской вечеринки - в мире макияжа нет границ. Независимо от того, какой образ вы выберете, CORGIFUME всегда рядом, чтобы предоставить вам ваши любимые товары!</p>
    <p class="final-text">Как интернет-магазин декоративной косметики, мы стремимся отмечать универсальность макияжа и предлагать подходящие продукты для каждого поклонника косметики. У нас вы всегда найдете огромный выбор косметических продуктов от ведущих мировых брендов. Отпразднуйте вместе с нами вашу красоту, уверенность в себе и возможность всегда извлекать из себя максимум удовольствия и открывать именно то, чего желает ваше сердце!</p>
    <p class="final-text">Выбирайте среди своих любимых продуктов или открывайте для себя новые фавориты из категорий макияжа.</p>
</div>







{% endblock %}