{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="discounts-block">

    <div class="sort-container">
        <p class="sort_header">Упорядочить по</p>
        <div class="responsiveFacets_sectionHeadWrapper">

            <button type="button" class="responsiveFacets_overrideButtonStyle responsiveFacets_sectionHead" data-selected="false" aria-expanded="false" tabindex="0">
                <h3 class="responsiveFacets_sectionTitle">
                    <span class="visually-hidden"></span>
                    Бренд
                </h3>
            </button>

            <button id="btnBrand" type="button" class="responsiveFacets_overrideButtonStyle responsiveFacets_sectionBackArrow" tabindex="0" aria-label="Back" title="Back">
                <svg class="svg-symbol" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <polygon points="16.1371072 15 12 10.7802414 7.86289277 15 6.5 13.6098793 12 8 17.5 13.6098793"></polygon>
                </svg>
            </button>

        </div>

        <div class="sort-container-inform">
            <fieldset class="responsiveFacets_sectionContent " aria-hidden="false">
                
                <label class="responsiveFacets_sectionItemLabel">
                    <input type="checkbox" class="responsiveFacets_sectionItemCheckbox" name="ru_brand_content" data-facet-value="111SKIN" aria-label="111SKIN (4 доступно)" tabindex="0">
                    <span class="responsiveFacets_sectionItem " data-facet-key="ru_brand_content" data-facet-value="111SKIN">
                        <span class="responsiveFacets_sectionItemValue " aria-hidden="true">
                            111SKIN (4)
                        </span>
                    </span>
                </label>

                <label class="responsiveFacets_sectionItemLabel">
                    <input type="checkbox" class="responsiveFacets_sectionItemCheckbox" name="ru_brand_content" data-facet-value="111SKIN" aria-label="111SKIN (4 доступно)" tabindex="0">
                    <span class="responsiveFacets_sectionItem " data-facet-key="ru_brand_content" data-facet-value="111SKIN">
                        <span class="responsiveFacets_sectionItemValue " aria-hidden="true">
                            AESOP (4)
                        </span>
                    </span>
                </label>

                <label class="responsiveFacets_sectionItemLabel">
                    <input type="checkbox" class="responsiveFacets_sectionItemCheckbox" name="ru_brand_content" data-facet-value="111SKIN" aria-label="111SKIN (4 доступно)" tabindex="0">
                    <span class="responsiveFacets_sectionItem " data-facet-key="ru_brand_content" data-facet-value="111SKIN">
                        <span class="responsiveFacets_sectionItemValue " aria-hidden="true">
                            Akin (4)
                        </span>
                    </span>
                </label>

                <label class="responsiveFacets_sectionItemLabel">
                    <input type="checkbox" class="responsiveFacets_sectionItemCheckbox" name="ru_brand_content" data-facet-value="111SKIN" aria-label="111SKIN (4 доступно)" tabindex="0">
                    <span class="responsiveFacets_sectionItem " data-facet-key="ru_brand_content" data-facet-value="111SKIN">
                        <span class="responsiveFacets_sectionItemValue " aria-hidden="true">
                            Akaha (4)
                        </span>
                    </span>
                </label>            
            </fieldset>
        </div>

        <div class="responsiveFacets_sectionHeadWrapper">

            <button type="button" class="responsiveFacets_overrideButtonStyle responsiveFacets_sectionHead" data-selected="false" aria-expanded="false" tabindex="0">
                <h3 class="responsiveFacets_sectionTitle">
                    <span class="visually-hidden"></span>
                    Цена
                </h3>
            </button>

            <button id="btnPrice" type="button" class="responsiveFacets_overrideButtonStyle responsiveFacets_sectionBackArrow" tabindex="0" aria-label="Back" title="Back">
                <svg class="svg-symbol" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <polygon points="16.1371072 15 12 10.7802414 7.86289277 15 6.5 13.6098793 12 8 17.5 13.6098793"></polygon>
                </svg>
            </button>

        </div>

        <div class="sort-container-inform info-price">
            <fieldset class="responsiveFacets_sectionContent " aria-hidden="false">
                <legend class="visually-hidden responsiveFacets_sectionContent_legend"> Бренд</legend>
                
                <label class="responsiveFacets_sectionItemLabel">
                    <input type="checkbox" class="responsiveFacets_sectionItemCheckbox" name="ru_brand_content" data-facet-value="111SKIN" aria-label="111SKIN (4 доступно)" tabindex="0">
                    <span class="responsiveFacets_sectionItem " data-facet-key="ru_brand_content" data-facet-value="111SKIN">
                        <span class="responsiveFacets_sectionItemValue" aria-hidden="true">
                            Дешевле 5.000₽
                        </span>
                    </span>
                </label>

                <label class="responsiveFacets_sectionItemLabel">
                    <input type="checkbox" class="responsiveFacets_sectionItemCheckbox" name="ru_brand_content" data-facet-value="111SKIN" aria-label="111SKIN (4 доступно)" tabindex="0">
                    <span class="responsiveFacets_sectionItem " data-facet-key="ru_brand_content" data-facet-value="111SKIN">
                        <span class="responsiveFacets_sectionItemValue " aria-hidden="true">
                            5.000₽ - 10.000₽
                        </span>
                    </span>
                </label>

                <label class="responsiveFacets_sectionItemLabel">
                    <input type="checkbox" class="responsiveFacets_sectionItemCheckbox" name="ru_brand_content" data-facet-value="111SKIN" aria-label="111SKIN (4 доступно)" tabindex="0">
                    <span class="responsiveFacets_sectionItem " data-facet-key="ru_brand_content" data-facet-value="111SKIN">
                        <span class="responsiveFacets_sectionItemValue " aria-hidden="true">
                            10.000₽ - 15.000₽
                        </span>
                    </span>
                </label>

                <label class="responsiveFacets_sectionItemLabel">
                    <input type="checkbox" class="responsiveFacets_sectionItemCheckbox" name="ru_brand_content" data-facet-value="111SKIN" aria-label="111SKIN (4 доступно)" tabindex="0">
                    <span class="responsiveFacets_sectionItem " data-facet-key="ru_brand_content" data-facet-value="111SKIN">
                        <span class="responsiveFacets_sectionItemValue " aria-hidden="true">
                            15.000₽ и выше
                        </span>
                    </span>
                </label>            
            </fieldset>
        </div>

        <div class="responsiveFacets_sectionHeadWrapper">

            <button type="button" class="responsiveFacets_overrideButtonStyle responsiveFacets_sectionHead" data-selected="false" aria-expanded="false" tabindex="0">
                <h3 class="responsiveFacets_sectionTitle">
                    <span class="visually-hidden"></span>
                    Экономия
                </h3>
            </button>

            <button id="btnDiscount" type="button" class="responsiveFacets_overrideButtonStyle responsiveFacets_sectionBackArrow" tabindex="0" aria-label="Back" title="Back">
                <svg class="svg-symbol" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <polygon points="16.1371072 15 12 10.7802414 7.86289277 15 6.5 13.6098793 12 8 17.5 13.6098793"></polygon>
                </svg>
            </button>

        </div>

        <div class="sort-container-inform info-discount">
            <fieldset class="responsiveFacets_sectionContent " aria-hidden="false">
                <legend class="visually-hidden responsiveFacets_sectionContent_legend"> Бренд</legend>
                
                <label class="responsiveFacets_sectionItemLabel">
                    <input type="checkbox" class="responsiveFacets_sectionItemCheckbox" name="ru_brand_content" data-facet-value="111SKIN" aria-label="111SKIN (4 доступно)" tabindex="0">
                    <span class="responsiveFacets_sectionItem " data-facet-key="ru_brand_content" data-facet-value="111SKIN">
                        <span class="responsiveFacets_sectionItemValue " aria-hidden="true">
                            До 25% (678)
                        </span>
                    </span>
                </label>

                <label class="responsiveFacets_sectionItemLabel">
                    <input type="checkbox" class="responsiveFacets_sectionItemCheckbox" name="ru_brand_content" data-facet-value="111SKIN" aria-label="111SKIN (4 доступно)" tabindex="0">
                    <span class="responsiveFacets_sectionItem " data-facet-key="ru_brand_content" data-facet-value="111SKIN">
                        <span class="responsiveFacets_sectionItemValue " aria-hidden="true">
                            25% - 50% (23)
                        </span>
                    </span>
                </label>

                <label class="responsiveFacets_sectionItemLabel">
                    <input type="checkbox" class="responsiveFacets_sectionItemCheckbox" name="ru_brand_content" data-facet-value="111SKIN" aria-label="111SKIN (4 доступно)" tabindex="0">
                    <span class="responsiveFacets_sectionItem " data-facet-key="ru_brand_content" data-facet-value="111SKIN">
                        <span class="responsiveFacets_sectionItemValue " aria-hidden="true">
                            50% - 75% (61)
                        </span>
                    </span>
                </label>

                <label class="responsiveFacets_sectionItemLabel">
                    <input type="checkbox" class="responsiveFacets_sectionItemCheckbox" name="ru_brand_content" data-facet-value="111SKIN" aria-label="111SKIN (4 доступно)" tabindex="0">
                    <span class="responsiveFacets_sectionItem " data-facet-key="ru_brand_content" data-facet-value="111SKIN">
                        <span class="responsiveFacets_sectionItemValue " aria-hidden="true">
                            75% и выше (71)
                        </span>
                    </span>
                </label>            
            </fieldset>
        </div>
    </div>


    <div class="goods_list">
        <p class="discounts-header">Аутлет Чёрной Пятницы</p>
        <div class="responsiveProductListPage_sort">
            <div class="responsiveSort">
                <span class="responsiveSort_label">Сортировать по</span>
                
                
                <select class="responsiveSort_select" data-sort-by="" aria-label="Сортировать по">
                    <option value="default" selected="">По умолчанию</option>
                    <option value="salesRank">Популярность</option>
                    <option value="priceAscending">Цена: Низкая-Большая</option>
                    <option value="priceDescending">Цена: Большая-Низкая</option>
                    <option value="title">А - Я</option>
                    <option value="percentageDiscount">% скидки</option>
                    <option value="releaseDate">Новейшие поступления</option>
                </select>
            </div>
        </div>
        <div class="discount-row">
            <div class="discount-item">
                <img src="https://static.thcdn.com/images/small/original//productimg/1600/1600/12676215-4664796886172665.jpg" data-alt-src="https://static.thcdn.com/images/small/original//productimg/1600/1600/12676215-4234796886216090.jpg" class="productBlock_image" data-track="product-image" loading="eager" alt="Антивозрастной крем для лица ALGENIST Genius Ultimate Anti-Ageing Cream 60 мл" height="300" width="300" crossorigin="">
                <p class="item-text">
                    <a href="#" class="item-text-link"> Антивозрастной крем для лица ALGENIST Genius Ultimate Anti-Ageing Cream 60 мл</a>
                </p>
                <p class="discount-ex-price">123.53€</p>
                <p class="discount-current-price">73.95€</p>
                <p>
                    <a class="itm-btn" href="#">ДОБАВИТЬ В КОРЗИНУ</a>
                </p>
            </div>

            <div class="discount-item">
                <img src="https://static.thcdn.com/images/small/original//productimg/original/12612905-1154967686457907.jpg" data-alt-src="https://static.thcdn.com/images/small/original//productimg/original/12612905-4784896915421500.jpg" class="productBlock_image" data-track="product-image" loading="eager" alt="Молочко для тела ALGENIST Genius Liquid Collagen Body Mylk, 230 г" height="300" width="300" crossorigin="">
                <p class="item-text">
                    <a href="#" class="item-text-link">Молочко для тела ALGENIST Genius Liquid Collagen Body Mylk, 230 г</p></a>    
                </p>
                <p class="discount-ex-price">153.53€</p>
                <p class="discount-current-price">73.95€</p>
                <p>
                    <a class="itm-btn" href="#">ДОБАВИТЬ В КОРЗИНУ</a>
                </p>
            </div>

            <div class="discount-item">
                <img src="https://static.thcdn.com/images/small/original//productimg/original/11783029-1444895727656793.jpg" data-alt-src="" class="productBlock_image" data-track="product-image" loading="eager" alt="Антивозрастная сыворотка с ретинолом ALGENIST ELEVATE Advanced Retinol Serum 30&nbsp;мл" height="300" width="300" crossorigin="">
                <p class="item-text">
                    <a href="#" class="item-text-link">Антивозрастной крем для лица ALGENIST Genius Ultimate Anti-Ageing Cream 60 мл</a>
                </p>
                <p class="discount-ex-price">123.53€</p>
                <p class="discount-current-price">73.95€</p>
                <p>
                    <a class="itm-btn" href="#">ДОБАВИТЬ В КОРЗИНУ</a>
                </p>
            </div>
        </div>

        <div class="discount-row">
            <div class="discount-item">
                <img src="https://static.thcdn.com/images/small/original//productimg/original/12701021-1994967686652487.jpg" data-alt-src="" class="productBlock_image" data-track="product-image" loading="eager" alt="ALGENIST Blue Algae Vitamin C Dark Spot Correcting Peel 45ml" height="300" width="300" crossorigin="">
                <p class="item-text">
                    <a href="#" class="item-text-link">ALGENIST Blue Algae Vitamin C Dark Spot Correcting Peel 45ml</p></a>
                </p>
                <p class="discount-ex-price">123.53€</p>
                <p class="discount-current-price">73.95€</p>
                <p>
                    <a class="itm-btn" href="#">ДОБАВИТЬ В КОРЗИНУ</a>
                </p>
            </div>

            <div class="discount-item">
                <img src="https://static.thcdn.com/images/small/original//productimg/original/12032503-2384880571437409.jpg" data-alt-src="" class="productBlock_image" data-track="product-image" loading="lazy" alt="ALGENIST ALIVE Prebiotic Balancing Moisturizer SPF15 50ml" height="300" width="300" crossorigin="">
                <p class="item-text">
                    <a href="#" class="item-text-link">ALGENIST ALIVE Prebiotic Balancing Moisturizer SPF15 50ml</p></a>
                </p>
                <p class="discount-ex-price">123.53€</p>
                <p class="discount-current-price">73.95€</p>
                <p>
                    <a class="itm-btn" href="#">ДОБАВИТЬ В КОРЗИНУ</a>
                </p>
            </div>

            <div class="discount-item">
                <img src="https://static.thcdn.com/images/small/original//productimg/1600/1600/12676215-4664796886172665.jpg" data-alt-src="https://static.thcdn.com/images/small/original//productimg/1600/1600/12676215-4234796886216090.jpg" class="productBlock_image" data-track="product-image" loading="eager" alt="Антивозрастной крем для лица ALGENIST Genius Ultimate Anti-Ageing Cream 60 мл" height="300" width="300" crossorigin="">
                <p class="item-text">
                    <a href="#" class="item-text-link">Антивозрастной крем для лица ALGENIST Genius 60 мл</a>
                </p>
                <p class="discount-ex-price">123.53€</p>
                <p class="discount-current-price">73.95€</p>
                <p>
                    <a class="itm-btn" href="#">ДОБАВИТЬ В КОРЗИНУ</a>
                </p>
            </div>
        </div>
    </div>
    
</div>




{% endblock %}