{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="discounts-block">
    <p class="discounts-header">Аутлет Чёрной Пятницы</p>
    <div class="discount-row">
        <div class="discount-item">
            <img src="https://static.thcdn.com/images/small/original//productimg/1600/1600/12676215-4664796886172665.jpg" data-alt-src="https://static.thcdn.com/images/small/original//productimg/1600/1600/12676215-4234796886216090.jpg" class="productBlock_image" data-track="product-image" loading="eager" alt="Антивозрастной крем для лица ALGENIST Genius Ultimate Anti-Ageing Cream 60 мл" height="300" width="300" crossorigin="">
            <p class="item-text">
                <a href="#" class="item-text-link"> Антивозрастной крем для лица ALGENIST Genius Ultimate Anti-Ageing Cream 60 мл</a>
            </p>
            <p class="discount-ex-price">123.53€</p>
            <p class="discount-current-price">73.95€</p>
            <p>
                <a class="btn btn-secondary itm-btn" href="#">ДОБАВИТЬ В КОРЗИНУ</a>
            </p>
        </div>

        <div class="discount-item">
            <img src="https://static.thcdn.com/images/small/original//productimg/original/12612905-1154967686457907.jpg" data-alt-src="https://static.thcdn.com/images/small/original//productimg/original/12612905-4784896915421500.jpg" class="productBlock_image" data-track="product-image" loading="eager" alt="Молочко для тела ALGENIST Genius Liquid Collagen Body Mylk, 230 г" height="300" width="300" crossorigin="">
            <p class="item-text">
                <a href="#" class="item-text-link">Молочко для тела ALGENIST Genius Liquid Collagen Body Mylk, 230 г</p></a>    
            </p>
            <p class="discount-ex-price">153.53€</p>
            <p class="discount-current-price">73.95€</p>
            <p>
                <a class="btn btn-secondary itm-btn" href="#">ДОБАВИТЬ В КОРЗИНУ</a>
            </p>
        </div>

        <div class="discount-item">
            <img src="https://static.thcdn.com/images/small/original//productimg/original/11783029-1444895727656793.jpg" data-alt-src="" class="productBlock_image" data-track="product-image" loading="eager" alt="Антивозрастная сыворотка с ретинолом ALGENIST ELEVATE Advanced Retinol Serum 30&nbsp;мл" height="300" width="300" crossorigin="">
            <p class="item-text">
                <a href="#" class="item-text-link">Антивозрастной крем для лица ALGENIST Genius Ultimate Anti-Ageing Cream 60 мл</a>
            </p>
            <p class="discount-ex-price">123.53€</p>
            <p class="discount-current-price">73.95€</p>
            <p>
                <a class="btn btn-secondary itm-btn" href="#">ДОБАВИТЬ В КОРЗИНУ</a>
            </p>
        </div>
    </div>

    <div class="discount-row">
        <div class="discount-item">
            <img src="https://static.thcdn.com/images/small/original//productimg/original/12701021-1994967686652487.jpg" data-alt-src="" class="productBlock_image" data-track="product-image" loading="eager" alt="ALGENIST Blue Algae Vitamin C Dark Spot Correcting Peel 45ml" height="300" width="300" crossorigin="">
            <p class="item-text">
                <a href="#" class="item-text-link">ALGENIST Blue Algae Vitamin C Dark Spot Correcting Peel 45ml</p></a>
            </p>
            <p class="discount-ex-price">123.53€</p>
            <p class="discount-current-price">73.95€</p>
            <p>
                <a class="btn btn-secondary itm-btn" href="#">ДОБАВИТЬ В КОРЗИНУ</a>
            </p>
        </div>

        <div class="discount-item">
            <img src="https://static.thcdn.com/images/small/original//productimg/original/12032503-2384880571437409.jpg" data-alt-src="" class="productBlock_image" data-track="product-image" loading="lazy" alt="ALGENIST ALIVE Prebiotic Balancing Moisturizer SPF15 50ml" height="300" width="300" crossorigin="">
            <p class="item-text">
                <a href="#" class="item-text-link">ALGENIST ALIVE Prebiotic Balancing Moisturizer SPF15 50ml</p></a>
            </p>
            <p class="discount-ex-price">123.53€</p>
            <p class="discount-current-price">73.95€</p>
            <p>
                <a class="btn btn-secondary itm-btn" href="#">ДОБАВИТЬ В КОРЗИНУ</a>
            </p>
        </div>

        <div class="discount-item">
            <img src="https://static.thcdn.com/images/small/original//productimg/1600/1600/12676215-4664796886172665.jpg" data-alt-src="https://static.thcdn.com/images/small/original//productimg/1600/1600/12676215-4234796886216090.jpg" class="productBlock_image" data-track="product-image" loading="eager" alt="Антивозрастной крем для лица ALGENIST Genius Ultimate Anti-Ageing Cream 60 мл" height="300" width="300" crossorigin="">
            <p class="item-text">
                <a href="#" class="item-text-link">Антивозрастной крем для лица ALGENIST Genius 60 мл</a>
            </p>
            <p class="discount-ex-price">123.53€</p>
            <p class="discount-current-price">73.95€</p>
            <p>
                <a class="btn btn-secondary itm-btn" href="#">ДОБАВИТЬ В КОРЗИНУ</a>
            </p>
        </div>
    </div>
    
</div>




{% endblock %}