{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Условия пользования{% endblock %}
{% load static %}
{% block content %}
<body>
    <div class="about__conditions">
        <h1 class="conditions__header">Политика конфиденциальности интернет-магазина Corgifume</h1>
        <div class="conditions__item conditions__definitions" > 
            <p class="conditions__subheader">1. Политика конфиденциальности интернет-магазина Corgifume</p>
            <p class="conditions__paragraph">1.1. В рамках настоящей Политики под персональными данными понимаются любые сведения, относящиеся к определенному или определяемому на основании таких сведений физическому лицу.</p>
            <p class="conditions__paragraph">1.2. Магазин осуществляет обработку персональных данных пользователей в соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных».</p>
        </div>
        <div class="conditions__item conditions__provisions">
            <p class="conditions__subheader">2. Цели обработки персональных данных</p>
            <p class="conditions__paragraph"> 
                <ul class="conditions__paragraph">
                    2.1. Магазин обрабатывает персональные данные пользователей для следующих целей:
                    <li>• оформления заказов на продукцию Магазина;</li>
                    <li>• оказания услуг по доставке продукции Магазина;</li>
                    <li>• информирования пользователей о новостях, акциях и специальных предложениях Магазина;</li>
                    <li>• анализа предпочтений, истории просмотров и покупок пользователей для формирования персонализированных предложений и улучшения качества обслуживания.</li>
                </ul>
            </p>
        </div>
        <div class="conditions__item conditions__definitions">
                <p class="conditions__subheader">3. Сбор и обработка персональных данных</p>
                <p class="conditions__paragraph">3.1. Магазин собирает персональные данные пользователей при оформлении заказов на продукцию Магазина.</p>
                <p class="conditions__paragraph">3.2. Магазин обрабатывает персональные данные пользователей с их согласия.</p>
                <p class="conditions__paragraph">3.3. Магазин обрабатывает персональные данные пользователей в автоматизированном режиме.</p>
        </div>
            
        <div class="conditions__item conditions__definitions">
            <p class="conditions__subheader">4. Хранение и использование персональных данных</p>
            <p class="conditions__paragraph">4.1. Магазин хранит персональные данные пользователей на серверах, расположенных в Российской Федерации.</p>
            <p class="conditions__paragraph">4.2. Магазин использует персональные данные пользователей только для целей, указанных в разделе 2 настоящей Политики.</p>
        </div>
            
        <div class="conditions__item conditions__definitions">
            <p class="conditions__subheader">5. Передача персональных данных третьим лицам</p>
            <p class="conditions__paragraph">5.1. Магазин не передает персональные данные пользователей третьим лицам, за исключением случаев, предусмотренных законодательством и настоящей Политикой.</p>
            <p class="conditions__paragraph">5.2. При необходимости выполнения обязательств перед пользователем, Магазин может предоставлять данные партнерам, занимающимся доставкой товаров или оказанием услуг. Эти сторонние компании используют предоставленные данные исключительно для выполнения своих обязательств перед пользователем и не имеют права использовать их в иных целях.</p>
            <p class="conditions__paragraph">5.3. При получении запроса от компетентных государственных органов, Магазин вправе передавать в них персональные данные в соответствии с требованиями законодательства.</p>
        </div>

        <div class="conditions__item conditions__definitions">
            <p class="conditions__subheader">6. Права пользователей</p>
            <p class="conditions__paragraph">6.1. Пользователи имеют право на доступ к своим персональным данным, их изменение, удаление или обновление.</p>
            <p class="conditions__paragraph">6.2. Пользователь может в любое время отозвать свое согласие на обработку персональных данных, направив соответствующее уведомление Магазину в письменном виде.</p>
            <p class="conditions__paragraph">6.3. Пользователи имеют право получать информацию о местонахождении серверов, на которых хранятся их персональные данные.</p>
        </div>
        
        <div class="conditions__item conditions__definitions">
            <p class="conditions__subheader">7. Меры по защите персональных данных</p>
            <p class="conditions__paragraph">7.1. Магазин принимает все необходимые технические и организационные меры для защиты персональных данных от неправомерного доступа, изменения, раскрытия или уничтожения.</p>
            <p class="conditions__paragraph">7.2. Персональные данные пользователей защищены с помощью современных средств шифрования и систем безопасности.</p>
        </div>
            
        <div class="conditions__item conditions__definitions">
            <p class="conditions__subheader">8. Юридические ограничения информации на сайте</p>
            <p class="conditions__paragraph">8.1. Информация, представленная на сайте интернет-магазина Corgifume, включая цены, описание товаров и любые другие данные, не является публичной офертой, определяемой положениями статьи 437 Гражданского кодекса Российской Федерации.</p>
            <p class="conditions__paragraph">8.2. Вся представленная информация предназначена для ознакомления и не может рассматриваться как обязательное предложение к покупке или сотрудничеству.</p>
            <p class="conditions__paragraph">8.3. Магазин оставляет за собой право изменять цены, информацию о продукции и другие данные на сайте без предварительного уведомления.</p>
            <p class="conditions__paragraph">8.4. Заключение договора купли-продажи товара осуществляется в соответствии с действующим законодательством после подтверждения заказа представителем магазина.</p>
        </div>

        <div class="conditions__item conditions__definitions">
            <p class="conditions__subheader">9. Изменения в Политике конфиденциальности</p>
            <p class="conditions__paragraph">9.1. Магазин оставляет за собой право вносить изменения в Политику конфиденциальности. В случае внесения изменений, актуальная версия Политики будет опубликована на сайте Магазина..</p>
            <p class="conditions__paragraph">9.2.  Продолжение использования сайта Магазина после внесения изменений означает согласие пользователя с новой версией Политики.</p>
        </div>


    </div>
</body>
{% endblock %}