{% extends 'base.html' %}
{% block title %}Карточка товара{% endblock %}
{% load static %}
{% block content %}
            <main class="page">
                <div data-observ></div>
                <div class="crumbs">
                    <div class="crumbs__container">
                        <div class="crumbs__item">
                            <a href={% url 'main_page' %}>Главная </a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                <path d="M7.5 15.5L12.5 10.5L7.5 5.5" stroke="#667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <div class="crumbs__item">
                            <a href={% url 'catalog' %}>Каталог </a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                <path d="M7.5 15.5L12.5 10.5L7.5 5.5" stroke="#667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <div class="crumbs__item select">
                            <a href="#">{{ product.name }}</a>
                        </div>
                    </div>
                </div>
                <div class="presentation">
                    <div class="presentation__container">
                        <div class="presentation__row">
                            <div class="presentation__display">
                                {% comment %} <div class="presentation__slider">
                                    <div class="swiper-wrapper presentation__wrapper">
                                        {% for image in product.image.all %}
                                            {% if forloop.counter == 1 %}
                                            <div class="presentation__slide swiper-slide" >
                                                
                                                <picture>
                                                    <source srcset="{{ product.image.url }}" type="image/webp">
                                                    <img src="{{ image }}" alt="" class="card__img" height="200">
                                                </picture>
                                                
                                            </div>
                                            {% elif forloop.counter == 2 %}
                                            <div class="presentation__slide swiper-slide" >
                                                
                                                <picture>
                                                    <source srcset="{{ product.image.url }}" type="image/webp">
                                                    <img src="{{ image }}" alt="" class="card__img">
                                                </picture>
                                                
                                            </div>
                                            {% elif forloop.counter == 3 %}
                                            <div class="presentation__slide swiper-slide" >
                                                
                                                <picture>
                                                    <source srcset="{{ product.image.url }}" type="image/webp">
                                                    <img src="{{ image }}" alt="" class="card__img">
                                                </picture>
                                                
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div> {% endcomment %}
                                <div class="presentation__slider-bunde">
                                    <div class="presentation__wrapper swiper-wrapper">
                                        {% for image in product.image.all %}
                                            {% if forloop.counter == 1 %}
                                            <div class="presentation__slide swiper-slide" >
                                                
                                                <picture>
                                                    <source srcset="{{ product.image.url }}" type="image/webp">
                                                    <img src="{{ image }}" alt="" class="card__img">
                                                </picture>
                                                
                                            </div>
                                            {% elif forloop.counter == 2 %}
                                            <div class="presentation__slide swiper-slide" >
                                                
                                                <picture>
                                                    <source srcset="{{ product.image.url }}" type="image/webp">
                                                    <img src="{{ image }}" alt="" class="card__img">
                                                </picture>
                                                
                                            </div>
                                            {% elif forloop.counter == 3 %}
                                            <div class="presentation__slide swiper-slide" >
                                                
                                                <picture>
                                                    <source srcset="{{ product.image.url }}" type="image/webp">
                                                    <img src="{{ image }}" alt="" class="card__img">
                                                </picture>
                                                
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                
                                <div class="swiper-pagination presentation__pagination"></div>
                                <div class="presentation__about">
                                    <h4>Описание</h4>
                                    <p>{{ product.description }}</p>
                                </div>
                            </div>
                            <div class="presentation__body product-card">
                                <div class="presentation__head">
                                    <h1 class="presentation__title">{{ product.name }}</h1>
                                    <span class="price-number price-number-one _active">{{ product.price  }} RUB</span>
                                </div>
                                <div class="presentation__rating">
                                    <div class="card__row-star">
                                        <img src={% static "images/star.svg" %} alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star-two.svg" %}  alt="" /> <img src={% static "images/star-trans.svg" %}  alt="" />
                                    </div>
                                    <p>(3.5 рейтинг) • 18 оценок</p>
                                </div>
                                <ul class="description presentation__description">
                                    <li class="description__item">
                                        <p class="description__title">Категория</p>
                                        <p>{{ product.category }}</p>
                                    </li>

                                    <li class="description__item">
                                        <p class="description__title">Год создания</p>
                                        <p>{{ product.year }}</p>
                                    </li>
                                    <li class="description__item">
                                        <p class="description__title">Категория</p>
                                        <p>{{ product.category }}</p>
                                    </li>
                                    <li class="description__item">
                                        <p class="description__title">Тип</p>
                                        <p>Парфюмерная вода</p>
                                    </li> 
                                    <li class="description__item">
                                        <p class="description__title">Ноты</p>
                                        <p>{{ product.notes }}</p>
                                    </li>
                                    <li class="description__item">
                                        <p class="description__title">Страна</p>
                                        <p>{{ product.country }}</p>
                                    </li>
                                    <li class="description__item">
                                        <p class="description__title">Бренд</p>
                                        <p>{{ product.brand }}</p>
                                    </li>
                                </ul>
                                <div class="quantity__row">
                                                
                                    <form action="{% url 'remove_cart' %}" method="post" class="removeCartClass">
                                        {% csrf_token %}
                                        {{ item.update_quantity_form.quantity }}
                                        {{ item.update_quantity_form.update }}
                                        <input type="hidden" name="product_id" value="{{ product.id }}" id="remove_{{product.id}}">
                                        <input type="submit" value="-" class="quantity__number-minus"> 
                                    </form>
                                                                                
                                    <span class="quantity__input" id="quantityID_{{product.id}}">{{ amount }}</span>
                                                                                
                                    <form action="{% url 'add_product' %}" method="post" class="addProductClass">
                                        {% csrf_token %}
                                        {{ item.update_quantity_form.quantity }}
                                        {{ item.update_quantity_form.update }}
                                        <input type="hidden" name="product_id" value="{{ product.id }}" id="add_{{product.id}}">
                                        <input type="submit" value="+" class="quantity__number-plus"> 
                                    </form>
                                </div>
                                
                                <div class="presentation__volume volume">
                                    <div class="volume__title">Объем</div>
                                    <div class="volume__row">
                                        <div class="volume__item">
                                            <input type="radio" checked="checked" id="volume1" name="volume" value="{{ product.ml }}" class="volume__input" /> 
                                            <label for="volume1" class="volume__label">{{ product.ml }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="presentation__button-row">

                                    <form action="{% url 'add_product' %}" method="post" class="addOneProduct">
                                        {% csrf_token %}
                                        {{ item.update_quantity_form.quantity }}
                                        {{ item.update_quantity_form.update }}
                                        <input type="hidden" name="product_id" value="{{ product.id }}" id="add_{{product.id}}">
                                        <input type="submit" value="КУПИТЬ СЕЙЧАС" class="button white presentation__button-bye" style="width:100%"> 
                                    </form>
                                </div>
                                
                                <p class="presentation__delivery">Бесплатная доставка от 5 000 RUB</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rewiews-prod">
                    <div class="rewiews-prod__container">
                        <h2 class="rewiews-prod__title">{{ product.name }} - Отзывы</h2>
                        <p class="reviews__text rewiews-prod__text">
                            <span>4.5</span> средний рейтинг на основе <span>102</span> отзывов</p>
                        <div class="reviews__slider rewiews-prod__slider">
                            <div class="swiper-wrapper reviews__wrapper rewiews-prod__wrapper">
                                <div class="swiper-slide reviews__slide slide-reviews">
                                    <div class="card__row-star slide-reviews__row-star">
                                        <img src={% static "images/star.svg" %} alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star-two.svg" %}  alt="" /> <img src={% static "images/star-trans.svg" %}  alt="" />
                                    </div>
                                    <div class="slide-reviews__title">Доставка была моментальной</div>
                                    <p class="slide-reviews__text">Откройте для себя новый аромат современной женственности с новым Sì Eau De Parfum Intense от Giorgio Armani!</p>
                                    <div class="slide-reviews__info">
                                        <div class="slide-reviews__name">Александра</div>
                                        <p class="slide-reviews__time">10 часов назад</p>
                                    </div>
                                </div>
                                <div class="swiper-slide reviews__slide slide-reviews">
                                    <div class="card__row-star slide-reviews__row-star">
                                        <img src={% static "images/star.svg" %} alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star-two.svg" %}  alt="" /> <img src={% static "images/star-trans.svg" %}  alt="" />
                                    </div>
                                    <div class="slide-reviews__title">Доставка была моментальной</div>
                                    <p class="slide-reviews__text">Откройте для себя новый аромат современной женственности с новым Sì Eau De Parfum Intense от Giorgio Armani!</p>
                                    <div class="slide-reviews__info">
                                        <div class="slide-reviews__name">Александра</div>
                                        <p class="slide-reviews__time">10 часов назад</p>
                                    </div>
                                </div>
                                <div class="swiper-slide reviews__slide slide-reviews">
                                    <div class="card__row-star slide-reviews__row-star">
                                        <img src={% static "images/star.svg" %} alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star-two.svg" %}  alt="" /> <img src={% static "images/star-trans.svg" %}  alt="" />
                                    </div>
                                    <div class="slide-reviews__title">Доставка была моментальной</div>
                                    <p class="slide-reviews__text">Откройте для себя новый аромат современной женственности с новым Sì Eau De Parfum Intense от Giorgio Armani!</p>
                                    <div class="slide-reviews__info">
                                        <div class="slide-reviews__name">Александра</div>
                                        <p class="slide-reviews__time">10 часов назад</p>
                                    </div>
                                </div>
                                <div class="swiper-slide reviews__slide slide-reviews">
                                    <div class="card__row-star slide-reviews__row-star">
                                        <img src={% static "images/star.svg" %} alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star-two.svg" %}  alt="" /> <img src={% static "images/star-trans.svg" %}  alt="" />
                                    </div>
                                    <div class="slide-reviews__title">Доставка была моментальной</div>
                                    <p class="slide-reviews__text">Откройте для себя новый аромат современной женственности с новым Sì Eau De Parfum Intense от Giorgio Armani!</p>
                                    <div class="slide-reviews__info">
                                        <div class="slide-reviews__name">Александра</div>
                                        <p class="slide-reviews__time">10 часов назад</p>
                                    </div>
                                </div>
                                <div class="swiper-slide reviews__slide slide-reviews">
                                    <div class="card__row-star slide-reviews__row-star">
                                        <img src={% static "images/star.svg" %} alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star-two.svg" %}  alt="" /> <img src={% static "images/star-trans.svg" %}  alt="" />
                                    </div>
                                    <div class="slide-reviews__title">Доставка была моментальной</div>
                                    <p class="slide-reviews__text">Откройте для себя новый аромат современной женственности с новым Sì Eau De Parfum Intense от Giorgio Armani!</p>
                                    <div class="slide-reviews__info">
                                        <div class="slide-reviews__name">Александра</div>
                                        <p class="slide-reviews__time">10 часов назад</p>
                                    </div>
                                </div>
                                <div class="swiper-slide reviews__slide slide-reviews">
                                    <div class="card__row-star slide-reviews__row-star">
                                        <img src={% static "images/star.svg" %} alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star-two.svg" %}  alt="" /> <img src={% static "images/star-trans.svg" %}  alt="" />
                                    </div>
                                    <div class="slide-reviews__title">Доставка была моментальной</div>
                                    <p class="slide-reviews__text">Откройте для себя новый аромат современной женственности с новым Sì Eau De Parfum Intense от Giorgio Armani!</p>
                                    <div class="slide-reviews__info">
                                        <div class="slide-reviews__name">Александра</div>
                                        <p class="slide-reviews__time">10 часов назад</p>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="button white rewiews-prod__button">Посмотреть все</a>
                            <div class="swiper-pagination reviews__pagintion"></div>
                        </div>
                    </div>
                </div>
                <div class="products">
                    <div class="products__container">
                        <h2 class="products__title">Похожие товары</h2>
                        <div class="card-slider">
                            <div class="card-slider__swiper">
                                <div class="swiper-wrapper card-slider__wrapper">
                                    <div class="swiper-slide card card-slider__slide">
                                        <div class="card__body">
                                            <picture>
                                                <source srcset={% static 'images/top-card-img1.webp' %} type="image/webp" />
                                                <img src={% static "images/top-card-img1.png" %} alt="" class="card__img" />
                                            </picture>
                                            <h3 class="card__title">Эксклюзивный специальный мини подарочный набор</h3>
                                            <div class="card__discount">Сэкономьте 40% <span>+ дополнительно 5%</span></div>
                                            <div class="card__row-star">
                                                <img src={% static "images/star.svg" %} alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star-two.svg" %}  alt="" /> <img src={% static "images/star-trans.svg" %}  alt="" />
                                            </div>
                                            <div class="card__recommendation">Рекомендуемая цена 2900 RUB</div>
                                            <div class="card__price">1590 RUB</div>
                                            <a href="#" class="button card__button">КУПИТЬ СЕЙЧАС</a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide card card-slider__slide">
                                        <div class="card__body">
                                            <picture>
                                                <source srcset={% static 'images/top-card-img2.webp' %} type="image/webp" />
                                                <img src={% static "images/top-card-img2.png" %} alt="" class="card__img" />
                                            </picture>
                                            <h3 class="card__title">Эксклюзивный специальный мини подарочный набор</h3>
                                            <div class="card__discount">Сэкономьте 40% <span>+ дополнительно 5%</span></div>
                                            <div class="card__row-star">
                                                <img src={% static "images/star.svg" %} alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star-two.svg" %}  alt="" /> <img src={% static "images/star-trans.svg" %}  alt="" />
                                            </div>
                                            <div class="card__recommendation">Рекомендуемая цена 2900 RUB</div>
                                            <div class="card__price">1590 RUB</div>
                                            <a href="#" class="button card__button">КУПИТЬ СЕЙЧАС</a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide card card-slider__slide">
                                        <div class="card__body">
                                            <picture>
                                                <source srcset={% static 'images/top-card-img3.webp' %} type="image/webp" />
                                                <img src={% static "images/top-card-img3.png" %} alt="" class="card__img" />
                                            </picture>
                                            <h3 class="card__title">Эксклюзивный специальный мини подарочный набор</h3>
                                            <div class="card__discount">Сэкономьте 40% <span>+ дополнительно 5%</span></div>
                                            <div class="card__row-star">
                                                <img src={% static "images/star.svg" %} alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star-two.svg" %}  alt="" /> <img src={% static "images/star-trans.svg" %}  alt="" />
                                            </div>
                                            <div class="card__recommendation">Рекомендуемая цена 2900 RUB</div>
                                            <div class="card__price">1590 RUB</div>
                                            <a href="#" class="button card__button">КУПИТЬ СЕЙЧАС</a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide card card-slider__slide">
                                        <div class="card__body">
                                            <picture>
                                                <source srcset={% static 'images/top-card-img4.webp' %} type="image/webp" />
                                                <img src={% static "images/top-card-img4.png" %} alt="" class="card__img" />
                                            </picture>
                                            <h3 class="card__title">Эксклюзивный специальный мини подарочный набор</h3>
                                            <div class="card__discount">Сэкономьте 40% <span>+ дополнительно 5%</span></div>
                                            <div class="card__row-star">
                                                <img src={% static "images/star.svg" %} alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star-two.svg" %}  alt="" /> <img src={% static "images/star-trans.svg" %}  alt="" />
                                            </div>
                                            <div class="card__recommendation">Рекомендуемая цена 2900 RUB</div>
                                            <div class="card__price">1590 RUB</div>
                                            <a href="#" class="button card__button">КУПИТЬ СЕЙЧАС</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination card-slider__pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products">
                    <div class="products__container">
                        <h2 class="products__title">С этим товаром покупают</h2>
                        <div class="card-slider">
                            <div class="card-slider__swiper">
                                <div class="swiper-wrapper card-slider__wrapper">
                                    <div class="swiper-slide card card-slider__slide">
                                        <div class="card__body">
                                            <picture>
                                                <source srcset={% static 'images/top-card-img1.webp' %} type="image/webp" />
                                                <img src={% static "images/top-card-img1.png" %} alt="" class="card__img" />
                                            </picture>
                                            <h3 class="card__title">Эксклюзивный специальный мини подарочный набор</h3>
                                            <div class="card__discount">Сэкономьте 40% <span>+ дополнительно 5%</span></div>
                                            <div class="card__row-star">
                                                <img src={% static "images/star.svg" %} alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star-two.svg" %}  alt="" /> <img src={% static "images/star-trans.svg" %}  alt="" />
                                            </div>
                                            <div class="card__recommendation">Рекомендуемая цена 2900 RUB</div>
                                            <div class="card__price">1590 RUB</div>
                                            <a href="#" class="button card__button">КУПИТЬ СЕЙЧАС</a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide card card-slider__slide">
                                        <div class="card__body">
                                            <picture>
                                                <source srcset={% static 'images/top-card-img2.webp' %} type="image/webp" />
                                                <img src={% static "images/top-card-img2.png" %} alt="" class="card__img" />
                                            </picture>
                                            <h3 class="card__title">Эксклюзивный специальный мини подарочный набор</h3>
                                            <div class="card__discount">Сэкономьте 40% <span>+ дополнительно 5%</span></div>
                                            <div class="card__row-star">
                                                <img src={% static "images/star.svg" %} alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star-two.svg" %}  alt="" /> <img src={% static "images/star-trans.svg" %}  alt="" />
                                            </div>
                                            <div class="card__recommendation">Рекомендуемая цена 2900 RUB</div>
                                            <div class="card__price">1590 RUB</div>
                                            <a href="#" class="button card__button">КУПИТЬ СЕЙЧАС</a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide card card-slider__slide">
                                        <div class="card__body">
                                            <picture>
                                                <source srcset={% static 'images/top-card-img3.webp' %} type="image/webp" />
                                                <img src={% static "images/top-card-img3.png" %} alt="" class="card__img" />
                                            </picture>
                                            <h3 class="card__title">Эксклюзивный специальный мини подарочный набор</h3>
                                            <div class="card__discount">Сэкономьте 40% <span>+ дополнительно 5%</span></div>
                                            <div class="card__row-star">
                                                <img src={% static "images/star.svg" %} alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star-two.svg" %}  alt="" /> <img src={% static "images/star-trans.svg" %}  alt="" />
                                            </div>
                                            <div class="card__recommendation">Рекомендуемая цена 2900 RUB</div>
                                            <div class="card__price">1590 RUB</div>
                                            <a href="#" class="button card__button">КУПИТЬ СЕЙЧАС</a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide card card-slider__slide">
                                        <div class="card__body">
                                            <picture>
                                                <source srcset={% static 'images/top-card-img4.webp' %} type="image/webp" />
                                                <img src={% static "images/top-card-img4.png" %} alt="" class="card__img" />
                                            </picture>
                                            <h3 class="card__title">Эксклюзивный специальный мини подарочный набор</h3>
                                            <div class="card__discount">Сэкономьте 40% <span>+ дополнительно 5%</span></div>
                                            <div class="card__row-star">
                                                <img src={% static "images/star.svg" %} alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star-two.svg" %}  alt="" /> <img src={% static "images/star-trans.svg" %}  alt="" />
                                            </div>
                                            <div class="card__recommendation">Рекомендуемая цена 2900 RUB</div>
                                            <div class="card__price">1590 RUB</div>
                                            <a href="#" class="button card__button">КУПИТЬ СЕЙЧАС</a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide card card-slider__slide">
                                        <div class="card__body">
                                            <picture>
                                                <source srcset={% static 'images/top-card-img1.webp' %} type="image/webp" />
                                                <img src={% static "images/top-card-img1.png" %} alt="" class="card__img" />
                                            </picture>
                                            <h3 class="card__title">Эксклюзивный специальный мини подарочный набор</h3>
                                            <div class="card__discount">Сэкономьте 40% <span>+ дополнительно 5%</span></div>
                                            <div class="card__row-star">
                                                <img src={% static "images/star.svg" %} alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star-two.svg" %}  alt="" /> <img src={% static "images/star-trans.svg" %}  alt="" />
                                            </div>
                                            <div class="card__recommendation">Рекомендуемая цена 2900 RUB</div>
                                            <div class="card__price">1590 RUB</div>
                                            <a href="#" class="button card__button">КУПИТЬ СЕЙЧАС</a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide card card-slider__slide">
                                        <div class="card__body">
                                            <picture>
                                                <source srcset={% static 'images/top-card-img2.webp' %} type="image/webp" />
                                                <img src={% static "images/top-card-img2.png" %} alt="" class="card__img" />
                                            </picture>
                                            <h3 class="card__title">Эксклюзивный специальный мини подарочный набор</h3>
                                            <div class="card__discount">Сэкономьте 40% <span>+ дополнительно 5%</span></div>
                                            <div class="card__row-star">
                                                <img src={% static "images/star.svg" %} alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star-two.svg" %}  alt="" /> <img src={% static "images/star-trans.svg" %}  alt="" />
                                            </div>
                                            <div class="card__recommendation">Рекомендуемая цена 2900 RUB</div>
                                            <div class="card__price">1590 RUB</div>
                                            <a href="#" class="button card__button">КУПИТЬ СЕЙЧАС</a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide card card-slider__slide">
                                        <div class="card__body">
                                            <picture>
                                                <source srcset={% static 'images/top-card-img3.webp' %} type="image/webp" />
                                                <img src={% static "images/top-card-img3.png" %} alt="" class="card__img" />
                                            </picture>
                                            <h3 class="card__title">Эксклюзивный специальный мини подарочный набор</h3>
                                            <div class="card__discount">Сэкономьте 40% <span>+ дополнительно 5%</span></div>
                                            <div class="card__row-star">
                                                <img src={% static "images/star.svg" %} alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star-two.svg" %}  alt="" /> <img src={% static "images/star-trans.svg" %}  alt="" />
                                            </div>
                                            <div class="card__recommendation">Рекомендуемая цена 2900 RUB</div>
                                            <div class="card__price">1590 RUB</div>
                                            <a href="#" class="button card__button">КУПИТЬ СЕЙЧАС</a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide card card-slider__slide">
                                        <div class="card__body">
                                            <picture>
                                                <source srcset={% static 'images/top-card-img4.webp' %} type="image/webp" />
                                                <img src={% static "images/top-card-img4.png" %} alt="" class="card__img" />
                                            </picture>
                                            <h3 class="card__title">Эксклюзивный специальный мини подарочный набор</h3>
                                            <div class="card__discount">Сэкономьте 40% <span>+ дополнительно 5%</span></div>
                                            <div class="card__row-star">
                                                <img src={% static "images/star.svg" %} alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star-two.svg" %}  alt="" /> <img src={% static "images/star-trans.svg" %}  alt="" />
                                            </div>
                                            <div class="card__recommendation">Рекомендуемая цена 2900 RUB</div>
                                            <div class="card__price">1590 RUB</div>
                                            <a href="#" class="button card__button">КУПИТЬ СЕЙЧАС</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination card-slider__pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products">
                    <div class="products__container">
                        <h2 class="products__title">Другие товары бренда</h2>
                        <div class="card-slider">
                            <div class="card-slider__swiper">
                                <div class="swiper-wrapper card-slider__wrapper">
                                    <div class="swiper-slide card card-slider__slide">
                                        <div class="card__body">
                                            <picture>
                                                <source srcset={% static 'images/top-card-img2.webp' %} type="image/webp" />
                                                <img src={% static "images/top-card-img2.png" %} alt="" class="card__img" />
                                            </picture>
                                            <h3 class="card__title">Эксклюзивный специальный мини подарочный набор</h3>
                                            <div class="card__discount">Сэкономьте 40% <span>+ дополнительно 5%</span></div>
                                            <div class="card__row-star">
                                                <img src={% static "images/star.svg" %} alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star-two.svg" %}  alt="" /> <img src={% static "images/star-trans.svg" %}  alt="" />
                                            </div>
                                            <div class="card__recommendation">Рекомендуемая цена 2900 RUB</div>
                                            <div class="card__price">1590 RUB</div>
                                            <a href="#" class="button card__button">КУПИТЬ СЕЙЧАС</a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide card card-slider__slide">
                                        <div class="card__body">
                                            <picture>
                                                <source srcset={% static 'images/top-card-img3.webp' %} type="image/webp" />
                                                <img src={% static "images/top-card-img3.png" %} alt="" class="card__img" />
                                            </picture>
                                            <h3 class="card__title">Эксклюзивный специальный мини подарочный набор</h3>
                                            <div class="card__discount">Сэкономьте 40% <span>+ дополнительно 5%</span></div>
                                            <div class="card__row-star">
                                                <img src={% static "images/star.svg" %} alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star-two.svg" %}  alt="" /> <img src={% static "images/star-trans.svg" %}  alt="" />
                                            </div>
                                            <div class="card__recommendation">Рекомендуемая цена 2900 RUB</div>
                                            <div class="card__price">1590 RUB</div>
                                            <a href="#" class="button card__button">КУПИТЬ СЕЙЧАС</a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide card card-slider__slide">
                                        <div class="card__body">
                                            <picture>
                                                <source srcset={% static 'images/top-card-img4.webp' %} type="image/webp" />
                                                <img src={% static "images/top-card-img4.png" %} alt="" class="card__img" />
                                            </picture>
                                            <h3 class="card__title">Эксклюзивный специальный мини подарочный набор</h3>
                                            <div class="card__discount">Сэкономьте 40% <span>+ дополнительно 5%</span></div>
                                            <div class="card__row-star">
                                                <img src={% static "images/star.svg" %} alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star-two.svg" %}  alt="" /> <img src={% static "images/star-trans.svg" %}  alt="" />
                                            </div>
                                            <div class="card__recommendation">Рекомендуемая цена 2900 RUB</div>
                                            <div class="card__price">1590 RUB</div>
                                            <a href="#" class="button card__button">КУПИТЬ СЕЙЧАС</a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide card card-slider__slide">
                                        <div class="card__body">
                                            <picture>
                                                <source srcset={% static 'images/top-card-img1.webp' %} type="image/webp" />
                                                <img src={% static "images/top-card-img1.png" %} alt="" class="card__img" />
                                            </picture>
                                            <h3 class="card__title">Эксклюзивный специальный мини подарочный набор</h3>
                                            <div class="card__discount">Сэкономьте 40% <span>+ дополнительно 5%</span></div>
                                            <div class="card__row-star">
                                                <img src={% static "images/star.svg" %} alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star-two.svg" %}  alt="" /> <img src={% static "images/star-trans.svg" %}  alt="" />
                                            </div>
                                            <div class="card__recommendation">Рекомендуемая цена 2900 RUB</div>
                                            <div class="card__price">1590 RUB</div>
                                            <a href="#" class="button card__button">КУПИТЬ СЕЙЧАС</a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide card card-slider__slide">
                                        <div class="card__body">
                                            <picture>
                                                <source srcset={% static 'images/top-card-img2.webp' %} type="image/webp" />
                                                <img src={% static "images/top-card-img2.png" %} alt="" class="card__img" />
                                            </picture>
                                            <h3 class="card__title">Эксклюзивный специальный мини подарочный набор</h3>
                                            <div class="card__discount">Сэкономьте 40% <span>+ дополнительно 5%</span></div>
                                            <div class="card__row-star">
                                                <img src={% static "images/star.svg" %} alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star-two.svg" %}  alt="" /> <img src={% static "images/star-trans.svg" %}  alt="" />
                                            </div>
                                            <div class="card__recommendation">Рекомендуемая цена 2900 RUB</div>
                                            <div class="card__price">1590 RUB</div>
                                            <a href="#" class="button card__button">КУПИТЬ СЕЙЧАС</a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide card card-slider__slide">
                                        <div class="card__body">
                                            <picture>
                                                <source srcset={% static 'images/top-card-img3.webp' %} type="image/webp" />
                                                <img src={% static "images/top-card-img3.png" %} alt="" class="card__img" />
                                            </picture>
                                            <h3 class="card__title">Эксклюзивный специальный мини подарочный набор</h3>
                                            <div class="card__discount">Сэкономьте 40% <span>+ дополнительно 5%</span></div>
                                            <div class="card__row-star">
                                                <img src={% static "images/star.svg" %} alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star-two.svg" %}  alt="" /> <img src={% static "images/star-trans.svg" %}  alt="" />
                                            </div>
                                            <div class="card__recommendation">Рекомендуемая цена 2900 RUB</div>
                                            <div class="card__price">1590 RUB</div>
                                            <a href="#" class="button card__button">КУПИТЬ СЕЙЧАС</a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide card card-slider__slide">
                                        <div class="card__body">
                                            <picture>
                                                <source srcset={% static 'images/top-card-img2.webp' %} type="image/webp" />
                                                <img src={% static "images/top-card-img2.png" %} alt="" class="card__img" />
                                            </picture>
                                            <h3 class="card__title">Эксклюзивный специальный мини подарочный набор</h3>
                                            <div class="card__discount">Сэкономьте 40% <span>+ дополнительно 5%</span></div>
                                            <div class="card__row-star">
                                                <img src={% static "images/star.svg" %} alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star-two.svg" %}  alt="" /> <img src={% static "images/star-trans.svg" %}  alt="" />
                                            </div>
                                            <div class="card__recommendation">Рекомендуемая цена 2900 RUB</div>
                                            <div class="card__price">1590 RUB</div>
                                            <a href="#" class="button card__button">КУПИТЬ СЕЙЧАС</a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide card card-slider__slide">
                                        <div class="card__body">
                                            <picture>
                                                <source srcset={% static 'images/top-card-img4.webp' %} type="image/webp" />
                                                <img src={% static "images/top-card-img4.png" %} alt="" class="card__img" />
                                            </picture>
                                            <h3 class="card__title">Эксклюзивный специальный мини подарочный набор</h3>
                                            <div class="card__discount">Сэкономьте 40% <span>+ дополнительно 5%</span></div>
                                            <div class="card__row-star">
                                                <img src={% static "images/star.svg" %} alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star.svg" %}  alt="" /> <img src={% static "images/star-two.svg" %}  alt="" /> <img src={% static "images/star-trans.svg" %}  alt="" />
                                            </div>
                                            <div class="card__recommendation">Рекомендуемая цена 2900 RUB</div>
                                            <div class="card__price">1590 RUB</div>
                                            <a href="#" class="button card__button">КУПИТЬ СЕЙЧАС</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination card-slider__pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="_overlay-bg popup-remove" data-popup="popup-remov">
                    <div class="popup-remove__body">
                        <div class="button-close popup-remove__button-close">
                            <img src={% static "images/button-close.svg" %} alt="" />
                        </div>
                        <div class="popup-remove__title">Удаление товара</div>
                        <p>Удалить выбранный товар? Отменить действие будет невозможно.</p>
                        <div class="popup-remove__button-row">
                            <div class="button white button-close popup-remove__button">Оставить</div>
                            <div class="button button-close popup-remove__button">УДАЛИТЬ</div>
                        </div>
                    </div>
                </div>
            </main>
{% endblock %}
