{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Условия пользования{% endblock %}
{% load static %}
{% block content %}
<body>
    <div class="about__conditions">
        <div class="conditions__item conditions__requisites">
            <p class="conditions__subheader">1. Реквизиты продавца</p>
            <p class="conditions__paragraph">Продавец: CORGIFUME</p>
            <p class="conditions__paragraph">Адрес: 119192, РОССИЯ, Г МОСКВА, Г МОСКВА, УЛ СКЛАДОЧНАЯ, Д. 1, СТР. 5</p>
            <p class="conditions__paragraph">Телефон:</p>
            <p class="conditions__paragraph">Сайт: www.corgifume.ru</p>
        </div>
        <div class="conditions__item conditions__bank">
        <p class="conditions__subheader">2. Банковские реквизиты:
        <p class="conditions__paragraph">Расчетный счет: 40802810300005950599 </p>
        <p class="conditions__paragraph">Банк: АО "ТИНЬКОФФ БАНК" </p>
        <p class="conditions__paragraph">ИНН банка: 7710140679</p>
        <p class="conditions__paragraph">БИК банка: 044525974</p>  
        <p class="conditions__paragraph">Корреспондентский счет банка: 30101810145250000974</p>  
        </div>
        <div class="conditions__item conditions__owner">
            <p class="conditions__subheader">ФИО руководителя: Образцов Андрей Сергеевич</p>
        </div>
    </div>
</body>
{% endblock %}