{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
<div class="entrance">
    <div class="entrance__row registration">
        <div class="entrance__img">
            <picture>
                <source srcset={% static "images/entrance-img.webp" %} type="image/webp" />
                <img src={% static "images/entrance-img.png" %} alt="" />
            </picture>
        </div>
        <div class="entrance__body">
            <div class="entrance__content">
                <form method="POST" class="entrance__form form-ent">
                    {% csrf_token %}
                    <h1 class="form-ent__title">Редактирование профиля</h1>
                    <div class="form-ent__body">

                        {% comment %} <div class="form-ent__name"> {% endcomment %}
                            <div class="form-ent__item">
                                <label for="name" class="delivery__label">Старый пароль</label> 
                                {{ form.old_password|add_class:"delivery__input" }}
                            </div>
                        {% comment %} </div> {% endcomment %}

                        <div class="form-ent__item">
                            <label for="surname" class="delivery__label">Новый пароль</label> 
                            {{ form.new_password1|add_class:"delivery__input" }}
                        </div>
                        
                        <div class="form-ent__item">
                            <label for="email" class="delivery__label">Повторите пароль</label> 
                            {{ form.new_password2|add_class:"delivery__input" }}
                        </div>

                        <div class="item-info__button-row">
                            <button type="submit" class="button item-info__button-save">Внести изменения</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}