{% extends 'base.html' %}

{% block content %}
{% load widget_tweaks %}
<div class='passwordBlock'>
    <h1 style="text-align:center;">Изменение пароля</h1>
    <div class="formContent">
        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="{{ form.old_password.id_for_label }}" class="custom-label-class">Старый пароль:</label>
                {{ form.old_password|add_class:"registrationFormDes" }}
            </div>

            <div class="form-group">
                <label for="{{ form.new_password1.id_for_label }}" class="custom-label-class">Новый пароль:</label>
                {{ form.new_password1|add_class:"registrationFormDes" }}
            </div>

            <div class="form-group">
                <label for="{{ form.new_password2.id_for_label }}" class="custom-label-class">Подтверждение пароля:</label>
                {{ form.new_password2|add_class:"registrationFormDes" }}
            </div>
        
            <button type="submit" class="changeFormBtn">Сменить пароль</button>
        </form>
    </div>
</div>
{% endblock %}