{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}
<div class="passwordBlock">
    <div class="formPlace">
        <div style='text-align:center;'>
            <h1>Восстановление пароля</h1>
            <p>Забыли пароль?</p>

            <p>Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.</p>
            <div class="formContent"> 
                <form method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}" class="custom-label-class">Email для верификации:</label>
                        {{ form.email |add_class:"registrationFormDes" }}
                    </div>
        
                    <button type="submit" class="changeFormBtn">Восстановить пароль</button>
                </form>
            </div>
            <a href="{% url 'main_page' %}" class="passwordResetLink">Обратно на главную</a>
        </div>
    </div>
</div>
{% endblock %}