{% extends 'base.html' %}
{% block content %}
<div class="passwordBlock">
    <div style='text-align:center;margin-top:30px;'>
        <h1>Ваш пароль успешно изменен!</h1>
        <p>Теперь вход будет осуществляться по новому паролю!</p>

        <p>Вы можете вернуться в магазин для дальнейших покупок!</p>
        
        <div class="item-info__button-row">
            <a href={% url 'main_page' %} class="button item-info__button-save" style="margin-right:540px;margin-top:30px;">Обратно на главную</a>
        </div>
    </div>
</div>
{% endblock %}