{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
<div class="entrance">
    <div class="entrance__row registration">
        <div class="entrance__img">
            <picture>
                <source srcset={% static "images/entrance-img.webp" %} type="image/webp" />
                <img src={% static "images/entrance-img.png" %} alt="" />
            </picture>
        </div>
        <div class="entrance__body">
            <div class="entrance__content">
                <form action={% url 'users:password_reset_lk' %} method="POST" class="entrance__form form-ent">
                    {% csrf_token %}
                    <h1 class="form-ent__title">Забыли пароль?</h1>
                    <div class="form-ent__body">

                        {% comment %} <div class="form-ent__name"> {% endcomment %}
                            <div class="form-ent__item">
                                <label for="{{ form.email.id_for_label }}" class="form-ent__label">E-mail</label> 
                                {{ form.email|attr:"placeholder:Введите e-mail"|add_class:"_req form-ent__input_tel_error" }}
                                <div class="form-ent__icon-error">
                                    <img src={% static "images/error-icon-input.svg" %} alt="" /></div>
                                <p class="form-ent__error-text">Введите e-mail!</p> 
                                <div class="form-ent__icon-ok">
                                    <img src={% static "images/ok-icon-input.svg" %} alt="" />
                                </div>
                            </div>
                        {% comment %} </div> {% endcomment %}

                        <div class="item-info__button-row">
                            <button type="submit" class="button item-info__button-save">Получить инструкцию</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}