{% extends 'base.html' %}
{% block content %}


<div class="profileBlock">
    <div class="accountHeader">
        <div class="welcomeMessages">
            <h2 class="welcomeMessage">Мой аккаунт</h2>
            {% if profile.first_name %}
                <p class="welcomeParagraph">Добро пожаловать, {{ profile.first_name }} {{ profile.last_name }}</p>
            {% else %}
                <p class="welcomeParagraph">Добро пожаловать, {{ request.user.first_name }} {{ profile.last_name }}</p>
            {% endif %}
        </div>
    </div>
    <hr>

    <div class="privateInfo">
        <h2 class="privateInfoHeader">Личная информация:</h2>
        <ul class="privateInfoUl">
            {% if profile.first_name %}
                <li class="privateInfoList">Имя и фамилия: {{ profile.first_name }}</li>
            {% else %}
                <li class="privateInfoList">Имя и фамилия: {{ request.user.first_name }}</li>
            {% endif %}
            
            {% if profile.date_of_birth %}
                <li class="privateInfoList">Дата рождения: {{ profile.date_of_birth }}</li>
            {% else %}
                <li class="privateInfoList">Дата рождения: не указано</li>
            {% endif %}

            {% if profile.address %}
                <li class="privateInfoList">Адреса доставки: {{ profile.address }}</li>
            {% else %}
                <li class="privateInfoList">Адреса доставки: не указано</li>
            {% endif %}
            <li class="privateInfoList">Контактные данные: {{ request.user.phone_number }}</li>
        </ul>
    </div>
    <hr>

    <div class="paymentsBlock">
        <div class="paymentsInfo">
            <div class="paymentsHeader">
                <h2>Платёжные данные:</h2>
                {% if profile.yandex_pay == 0 %}
                    <p>Яндекс Pay: не добавлена</p>
                {% else %}
                    <p>Яндекс Pay: {{ profile.yandex_pay }}</p>
                {% endif %}

                {% if profile.tinkoff_pay == 0 %}
                    <p>Tinkoff Pay: не добавлена</p>
                {% else %}
                    <p>Tinkoff Pay: {{ profile.tinkoff_pay }}</p>
                {% endif %}

                {% if profile.card_field == 0 %}
                    <p>Сохраненная карта: не добавлена</p>
                {% else %}
                    <p>Сохраненная карта: {{ profile.formatted_card }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>

    <div class="accountContent">
        <div class="profileOrders">
            <div class="ordersBlock">
                <div class="ordersHeader">
                    <h2 class='ordersTitle'>Ваши заказы</h2> 
                    {% if orders %}
                        {% for order in orders %}
                            <p class="ordersParagraph">Номер заказа: {{ order.order_number }}</p>
                            <p class="ordersParagraph">Статус заказа: {{ order.status }}</p>
                            <p class="ordersParagraph">Дата заказа: {{ order.order_date }}</p>
                        {% endfor %}
                    {% else %}
                        <p class="ordersParagraph">У вас пока нет активных заказов</p> 
                    {% endif %}

            
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="favoriteBlock">
        <div class="favoriteInfo">
            <div class="favoriteHeader">
                <h2>Избранное</h2>
                {% if favorites %}
                    {% for favorite in favorites %}
                        <p>{{ favorite.item }}</p>
                    {% endfor %}
                {% else %}
                        <p>В настоящий момент у вас нет понравившихся товаров...</p>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>

    <div class="loyalBlock">
        <div class="loyalInfo">
            <div class="loyalText">
                <div class="loyalHeader">
                    <h2>Программа лояльности</h2>
                    <p>Добро пожаловать в программу лояльности Corgifume, где каждый клиент оценен и награжден за свою страсть к миру ароматов. Мы создали эту программу, чтобы вы могли наслаждаться не только лучшими парфюмами, но и уникальными привилегиями, которые отражают вашу преданность миру ароматов.</p>
                </div>
                <div class="loyalList">
                    <ul class="loyalUl">
                        <li class="loyalLink">Ваши текущие бонусы: {{ profile.current_bonuses }}</li>
                        <li class="loyalLink">Предстоящие: {{ profile.future_bonuses }}</li>
                        <li class="loyalLink">Ваши текущие Арома-баллы: {{ profile.aroma_balls }}</li>
                        <li class="loyalLink">Ваш текущий уровень: {{ profile.loyal_status }}</li>
                    </ul>
                </div>
                <div class="loyalpriviliges">
                    <p class="priviligesHeader">Ваши текущие привилегии:</p>
                    <p class="priviligesParagraph">В настоящий момент у вас нету привилегий в магазине...</p>
                    <a href="#" class="priviligesInfo">Подробнее о программе лояльности</a>
                </div>
            </div>
            
        </div>
    </div>
    <hr>

    <div class="settingsBlock">
        <div class="settingsInfo">
            <div class="settingsHeader">
                <h2>Настройки:</h2>
                <p class="profileSettings">Изменение профиля: 
                    <a href={% url 'users:edit-profile' %}>Настроить профиль</a>
                </p>
                <p class="passwordChange">Изменение пароля: 
                    <a href={% url 'users:password_change_lk' %}>Изменить пароль</a>
                </p>
            </div>
        </div>
    </div>
</div>



{% endblock %}