{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Изменение профиля{% endblock %}
{% load static %}
{% block content %}
            <main class="page">
                <div data-observ></div>
                <div class="office">
                    <div class="office__container">
                        <div class="crumbs office__crumbs">
                            <div class="crumbs__item">
                                <a href={% url 'main_page' %}>Главная </a>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                    <path d="M7.5 15.5L12.5 10.5L7.5 5.5" stroke="#667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="crumbs__item select"><a href="#">Личный кабинет</a></div>
                        </div>
                        <div class="office__head">
                            <div class="office__user">
                                <img src={% static "images/user-img.svg" %} alt="" class="office__icon" />
                                {% if profile.first_name %}
                                <div class="office__greeting">Здравствуйте, {{ profile.first_name }}!</div>
                                {% else %}
                                <div class="office__greeting">Здравствуйте!</div>
                                {% endif %}
                            </div>
                            <a class="button office__button-exit" href={% url 'users:logout' %} data-da=".office__menu, 720, last">Выйти</a>
                        </div>
                        <div class="office__row">
                            <div class="office__menu">
                                <p class="office__management">Управление учетной записью</p>
                                <div class="office__item-menu tab-title">Личная информация</div>
                                <div class="office__item-menu tab-title">Платежные данные</div>
                                <div class="office__item-menu tab-title">Заказы</div>
                                <div class="office__item-menu tab-title">Программа лояльности</div>
                                <div class="office__item-menu tab-title">Служба поддержки</div>
                            </div>
                            <div class="office__body">
                                <div class="office__item-body tab-body item-info">
                                    <div class="office__body-title">
                                        <p>Личная информация</p>
                                        <div class="office__button-back">Назад</div>
                                    </div>
                                    <p class="office__management">Текущая информация профиля</p>
                                    <form class="item-info__form" method="POST" style="margin-top:20px;">
                                        {% csrf_token %}

                                        <div class="delivery__row-input">
                                            <label for="name" class="delivery__label">Имя</label> 
                                            {{ form.first_name|add_class:"delivery__input" }}
                                        </div>

                                        <div class="delivery__row-input">
                                            <label for="surname" class="delivery__label">Фамилия</label> 
                                            {{ form.last_name|add_class:"delivery__input" }}
                                        </div>
                                        
                                        <div class="delivery__row-input">
                                            <label for="phone" class="delivery__label">Номер телефона</label> 
                                            {{ form.phone_number|add_class:"delivery__input tel" }}
                                        </div>

                                        <div class="delivery__row-input">
                                            <label for="email" class="delivery__label">E-mail</label> 
                                            {{ form.email_field|add_class:"delivery__input" }}
                                        </div>

                                        <div class="delivery__row-input">
                                            <label for="{{ form.date_of_birth.id_for_label }}" class="delivery__label">Дата рождения</label> 
                                            {{ form.date_of_birth|add_class:"delivery__input" }}
                                        </div>
                                        
                                        <div class="delivery__row-input">
                                            <label for="city" class="delivery__label">Город</label> 
                                            {{ form.city|add_class:"delivery__input" }}
                                        </div>

                                        <div class="delivery__row-input">
                                            <label for="street" class="delivery__label">Улица</label>
                                            {{ form.street|add_class:"delivery__input" }}
                                        </div>

                                        <div class="delivery__row-input">
                                            <label for="index" class="delivery__label">Индекс</label> 
                                            {{ form.index|add_class:"delivery__input" }}
                                        </div>
                                        
                                        <div class="item-info__row">

                                            <div class="delivery__row-input">
                                                <label for="body" class="delivery__label">Корпус</label> 
                                                {{ form.corp|add_class:"delivery__input" }}
                                            </div>

                                            <div class="delivery__item-two">
                                                <div class="delivery__row-input">
                                                    <label for="house" class="delivery__label">Дом</label> 
                                                    {{ form.house|add_class:"delivery__input" }}
                                                </div>

                                                <div class="delivery__row-input">
                                                    <label for="flat" class="delivery__label">Кв.</label> 
                                                    {{ form.room|add_class:"delivery__input" }}
                                                </div>
                                            </div>
                                        </div> 

                                        <div class="item-info__button-row" >
                                            <a href={% url 'users:edit_profile' pk=user.pk %} class="button item-info__button-save">Изменить профиль</a>
                                            <a href={% url 'users:password_change_lk' %} class="button item-info__button-save left-button">Поменять пароль</a>
                                        
                                            
                                        </div>
                                    </form>
                                    
                                </div>
                                <div class="office__item-body tab-body item-payment">
                                    <div class="office__body-title">
                                        <p>Платежные данные</p>
                                        <div class="office__button-back">Назад</div>
                                    </div>
                                    <div class="item-payment__row">
                                        <div class="checkbox-del delivery__checkbox-item">
                                            <img src={% static "images/payment.svg" %} alt="" />
                                            <div class="checkbox-del__body">
                                                <div class="checkbox-del__bank">Tinkoff</div>
                                                <div class="checkbox-del__term">Срок истечения 06/2024</div>
                                                <div class="checkbox-del__button-row">
                                                    <div class="checkbox-del__button">Изменить</div>
                                                    <div class="checkbox-del__button-remove">Удалить</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="checkbox-del delivery__checkbox-item">
                                            <img src={% static "images/mastercard.svg" %} alt="" />
                                            <div class="checkbox-del__body">
                                                <div class="checkbox-del__bank">ЮMoney</div>
                                                <div class="checkbox-del__term">Срок истечения 06/2024</div>
                                                <div class="checkbox-del__button-row">
                                                    <div class="checkbox-del__button">Изменить</div>
                                                    <div class="checkbox-del__button-remove">Удалить</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="checkbox-del delivery__checkbox-item">
                                            <img src={% static "images/mastercard.svg" %} alt="" />
                                            <div class="checkbox-del__body">
                                                <div class="checkbox-del__bank">Сбербанк</div>
                                                <div class="checkbox-del__term">Срок истечения 06/2024</div>
                                                <div class="checkbox-del__button-row">
                                                    <div class="checkbox-del__button">Изменить</div>
                                                    <div class="checkbox-del__button-remove">Удалить</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="checkbox-del delivery__checkbox-item">
                                            <img src={% static "images/mastercard.svg" %} alt="" />
                                            <div class="checkbox-del__body">
                                                <div class="checkbox-del__bank">Сбербанк</div>
                                                <div class="checkbox-del__term">Срок истечения 06/2024</div>
                                                <div class="checkbox-del__button-row">
                                                    <div class="checkbox-del__button">Изменить</div>
                                                    <div class="checkbox-del__button-remove">Удалить</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-info__button-row"><button class="button item-info__button-save">Добавить способ оплаты</button></div>
                                    </div>
                                </div>
                                <div class="office__item-body tab-body item-orders">
                                    <div class="office__body-title">
                                        <p>Заказы</p>
                                        <div class="office__button-back">Назад</div>
                                    </div>
                                    <div class="item-orders__body">
                                        <div class="item-orders__top">
                                            <div class="item-orders__item">Номер заказа</div>
                                            <div class="item-orders__item">Дата заказа</div>
                                            <div class="item-orders__item delivery">Дата доставки</div>
                                            <div class="item-orders__item remained">Осталось</div>
                                            <div class="item-orders__item cost">Стоимость</div>
                                            <div class="item-orders__item status">Статус</div>
                                            <div class="item-orders__item details">Подробности</div>
                                        </div>
                                        <div class="item-orders__line">
                                            {% for order in orders %}
                                            <div class="item-orders__item">#{{ order.order_number }}</div>
                                            <div class="item-orders__item">{{ order.order_date }}</div>
                                            <div class="item-orders__item delivery">{{ order.shipment_date }}</div>
                                            <div class="item-orders__item cost">{{ order.order_price }} RUB</div>
                                            <div class="item-orders__item">
                                                {% if order.status == 'processing' or order.status == 'created' %}
                                                    <div class="active item-orders__status-created">Создан</div>
                                                {% elif order.status == 'accepted' %}
                                                    <div class="active item-orders__status-ok">Принят</div>
                                                {% elif order.status == 'completed' %}
                                                    <div class="active item-orders__status-ok">Доставлено</div>
                                                {% else %}
                                                    <div class="active item-orders__status-not">Отказано</div>
                                                {% endif %}
                                            </div>
                                            <div class="item-orders__item details">Подробности</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="item-orders__button-row"><a href="#" class="button item-orders__button">Экспортировать таблицу</a></div>
                                </div>
                                <div class="office__item-body tab-body item-loyalty">
                                    <div class="office__body-title">
                                        <p>Программа лояльности</p>
                                        <div class="office__button-back">Назад</div>
                                    </div>
                                    <div class="item-loyalty__body">
                                        <div class="item-loyalty__title">Добро пожаловать в программу лояльности Corgifume, где каждый клиент оценен и награжден за свою страсть к миру ароматов.</div>
                                        <div class="item-loyalty__item">
                                            <div class="item-loyalty__row">
                                                <svg width="32" height="32" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <g clip-path="url(#clip0_19_723)">
                                                    <path d="M31.9967 63.9934C49.668 63.9934 63.9934 49.668 63.9934 31.9967C63.9934 14.3254 49.668 0 31.9967 0C14.3254 0 0 14.3254 0 31.9967C0 49.668 14.3254 63.9934 31.9967 63.9934Z" fill="#F2D8C0"/>
                                                    <path d="M31.9966 56.8749C45.7365 56.8749 56.8748 45.7365 56.8748 31.9967C56.8748 18.2568 45.7365 7.1185 31.9966 7.1185C18.2568 7.1185 7.11841 18.2568 7.11841 31.9967C7.11841 45.7365 18.2568 56.8749 31.9966 56.8749Z" fill="white"/>
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M31.9966 54.8749C44.6319 54.8749 54.8748 44.632 54.8748 31.9967C54.8748 19.3614 44.6319 9.1185 31.9966 9.1185C19.3613 9.1185 9.11841 19.3614 9.11841 31.9967C9.11841 44.632 19.3613 54.8749 31.9966 54.8749ZM56.8748 31.9967C56.8748 45.7365 45.7365 56.8749 31.9966 56.8749C18.2568 56.8749 7.11841 45.7365 7.11841 31.9967C7.11841 18.2568 18.2568 7.1185 31.9966 7.1185C45.7365 7.1185 56.8748 18.2568 56.8748 31.9967Z" fill="black"/>
                                                    <path d="M33.4275 18.6995L36.4557 24.8313C36.6892 25.2983 37.1337 25.6298 37.6535 25.7051L44.418 26.6919C45.7212 26.8802 46.241 28.4847 45.2993 29.4037L40.403 34.1721C40.0263 34.5412 39.8606 35.061 39.9435 35.5807L41.096 42.3227C41.322 43.6183 39.9585 44.6127 38.7909 44.0025L32.742 40.8236C32.275 40.5826 31.7251 40.5826 31.258 40.8236L25.2091 44.0025C24.0415 44.6127 22.678 43.6259 22.904 42.3227L24.0566 35.5807C24.147 35.0685 23.9737 34.5412 23.5971 34.1721L18.7007 29.4037C17.7591 28.4847 18.2788 26.8802 19.582 26.6919L26.3466 25.7051C26.8663 25.6298 27.3108 25.3059 27.5443 24.8313L30.5725 18.6995C31.1526 17.5168 32.8399 17.5168 33.4275 18.6995Z" fill="#F2A35A"/>
                                                    </g>
                                                    <defs>
                                                    <clipPath id="clip0_19_723">
                                                    <rect width="64" height="64" fill="white"/>
                                                    </clipPath>
                                                    </defs>
                                                    </svg>
                                                <p style="margin-left:5px;margin-top:5px;">Ваши текущие Арома-баллы:</p>
                                                <p class="bold green" style="margin-top:5px;">{{ aroma_balls }}</p>
                                            </div>
                                             {% comment %} <div class="item-loyalty__row">
                                                <p>Предстоящие:</p>
                                                <p class="bold gray">500</p>
                                            </div> {% endcomment %}
                                            <div class="item-loyalty__row">
                                                <svg width="32" height="32" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <g clip-path="url(#clip0_19_723)">
                                                    <path d="M31.9967 63.9934C49.668 63.9934 63.9934 49.668 63.9934 31.9967C63.9934 14.3254 49.668 0 31.9967 0C14.3254 0 0 14.3254 0 31.9967C0 49.668 14.3254 63.9934 31.9967 63.9934Z" fill="#F2D8C0"/>
                                                    <path d="M31.9966 56.8749C45.7365 56.8749 56.8748 45.7365 56.8748 31.9967C56.8748 18.2568 45.7365 7.1185 31.9966 7.1185C18.2568 7.1185 7.11841 18.2568 7.11841 31.9967C7.11841 45.7365 18.2568 56.8749 31.9966 56.8749Z" fill="white"/>
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M31.9966 54.8749C44.6319 54.8749 54.8748 44.632 54.8748 31.9967C54.8748 19.3614 44.6319 9.1185 31.9966 9.1185C19.3613 9.1185 9.11841 19.3614 9.11841 31.9967C9.11841 44.632 19.3613 54.8749 31.9966 54.8749ZM56.8748 31.9967C56.8748 45.7365 45.7365 56.8749 31.9966 56.8749C18.2568 56.8749 7.11841 45.7365 7.11841 31.9967C7.11841 18.2568 18.2568 7.1185 31.9966 7.1185C45.7365 7.1185 56.8748 18.2568 56.8748 31.9967Z" fill="black"/>
                                                    <path d="M33.4275 18.6995L36.4557 24.8313C36.6892 25.2983 37.1337 25.6298 37.6535 25.7051L44.418 26.6919C45.7212 26.8802 46.241 28.4847 45.2993 29.4037L40.403 34.1721C40.0263 34.5412 39.8606 35.061 39.9435 35.5807L41.096 42.3227C41.322 43.6183 39.9585 44.6127 38.7909 44.0025L32.742 40.8236C32.275 40.5826 31.7251 40.5826 31.258 40.8236L25.2091 44.0025C24.0415 44.6127 22.678 43.6259 22.904 42.3227L24.0566 35.5807C24.147 35.0685 23.9737 34.5412 23.5971 34.1721L18.7007 29.4037C17.7591 28.4847 18.2788 26.8802 19.582 26.6919L26.3466 25.7051C26.8663 25.6298 27.3108 25.3059 27.5443 24.8313L30.5725 18.6995C31.1526 17.5168 32.8399 17.5168 33.4275 18.6995Z" fill="#F2A35A"/>
                                                    </g>
                                                    <defs>
                                                    <clipPath id="clip0_19_723">
                                                    <rect width="64" height="64" fill="white"/>
                                                    </clipPath>
                                                    </defs>
                                                    </svg>
                                                <p style="margin-left:5px;margin-top:5px;">Ваши текущие Бонусы:</p>
                                                <p class="bold orange" style="margin-top:5px;">{{ current_bonuses }}</p>
                                            </div> 
                                        </div>
                                        
                                        {% if loyal_status == 'Новичок' %}
                                        <div class="item-loyalty__row-estimation">
                                            <div class="active item-loyalty__estimation">
                                                <img src={% static "images/estimation2.svg" %} alt="" />
                                                <p>Новичок</p>
                                            </div>
                                            <div class="item-loyalty__line"></div>
                                            <div class="item-loyalty__estimation">
                                                <img src={% static "images/estimation3.svg" %} alt="" />
                                                <p>Любитель</p>
                                            </div>
                                            <div class="item-loyalty__line"></div>
                                            <div class="item-loyalty__estimation">
                                                <img src={% static "images/estimation3.svg" %} alt="" />
                                                <p>Знаток</p>
                                            </div>
                                            <div class="item-loyalty__line"></div>
                                            <div class="item-loyalty__estimation">
                                                <img src={% static "images/estimation3.svg" %} alt="" />
                                                <p>Эксперт</p>
                                            </div>
                                            <div class="item-loyalty__line"></div>
                                            <div class="item-loyalty__estimation">
                                                <img src={% static "images/estimation3.svg" %} alt="" />
                                                <p>Мастер ароматов</p>
                                            </div>
                                        </div>
                                        {% elif loyal_status == 'Любитель' %}
                                        <div class="item-loyalty__row-estimation">
                                            <div class="item-loyalty__estimation">
                                                <img src={% static "images/estimation1.svg" %} alt="" />
                                                <p>Новичок</p>
                                            </div>
                                            <div class="item-loyalty__line"></div>
                                            <div class="active item-loyalty__estimation">
                                                <img src={% static "images/estimation2.svg" %} alt="" />
                                                <p>Любитель</p>
                                            </div>
                                            <div class="item-loyalty__line"></div>
                                            <div class="item-loyalty__estimation">
                                                <img src={% static "images/estimation3.svg" %} alt="" />
                                                <p>Знаток</p>
                                            </div>
                                            <div class="item-loyalty__line"></div>
                                            <div class="item-loyalty__estimation">
                                                <img src={% static "images/estimation3.svg" %} alt="" />
                                                <p>Эксперт</p>
                                            </div>
                                            <div class="item-loyalty__line"></div>
                                            <div class="item-loyalty__estimation">
                                                <img src={% static "images/estimation3.svg" %} alt="" />
                                                <p>Мастер ароматов</p>
                                            </div>
                                        </div>
                                        {% elif loyal_status == 'Знаток' %}
                                        <div class="item-loyalty__row-estimation">
                                            <div class="item-loyalty__estimation">
                                                <img src={% static "images/estimation1.svg" %} alt="" />
                                                <p>Новичок</p>
                                            </div>
                                            <div class="item-loyalty__line"></div>
                                            <div class="item-loyalty__estimation">
                                                <img src={% static "images/estimation1.svg" %} alt="" />
                                                <p>Любитель</p>
                                            </div>
                                            <div class="item-loyalty__line"></div>
                                            <div class="active item-loyalty__estimation">
                                                <img src={% static "images/estimation2.svg" %} alt="" />
                                                <p>Знаток</p>
                                            </div>
                                            <div class="item-loyalty__line"></div>
                                            <div class="item-loyalty__estimation">
                                                <img src={% static "images/estimation3.svg" %} alt="" />
                                                <p>Эксперт</p>
                                            </div>
                                            <div class="item-loyalty__line"></div>
                                            <div class="item-loyalty__estimation">
                                                <img src={% static "images/estimation3.svg" %} alt="" />
                                                <p>Мастер ароматов</p>
                                            </div>
                                        </div>
                                        {% elif loyal_status == 'Эксперт' %}
                                        <div class="item-loyalty__row-estimation">
                                            <div class="item-loyalty__estimation">
                                                <img src={% static "images/estimation1.svg" %} alt="" />
                                                <p>Новичок</p>
                                            </div>
                                            <div class="item-loyalty__line"></div>
                                            <div class="item-loyalty__estimation">
                                                <img src={% static "images/estimation1.svg" %} alt="" />
                                                <p>Любитель</p>
                                            </div>
                                            <div class="item-loyalty__line"></div>
                                            <div class="item-loyalty__estimation">
                                                <img src={% static "images/estimation1.svg" %} alt="" />
                                                <p>Знаток</p>
                                            </div>
                                            <div class="item-loyalty__line"></div>
                                            <div class="active item-loyalty__estimation">
                                                <img src={% static "images/estimation2.svg" %} alt="" />
                                                <p>Эксперт</p>
                                            </div>
                                            <div class="item-loyalty__line"></div>
                                            <div class="item-loyalty__estimation">
                                                <img src={% static "images/estimation3.svg" %} alt="" />
                                                <p>Мастер ароматов</p>
                                            </div>
                                        </div>
                                        {% elif loyal_status == 'Мастер ароматов' %}
                                        <div class="item-loyalty__row-estimation">
                                            <div class="item-loyalty__estimation">
                                                <img src={% static "images/estimation1.svg" %} alt="" />
                                                <p>Новичок</p>
                                            </div>
                                            <div class="item-loyalty__line"></div>
                                            <div class="item-loyalty__estimation">
                                                <img src={% static "images/estimation1.svg" %} alt="" />
                                                <p>Любитель</p>
                                            </div>
                                            <div class="item-loyalty__line"></div>
                                            <div class="item-loyalty__estimation">
                                                <img src={% static "images/estimation1.svg" %} alt="" />
                                                <p>Знаток</p>
                                            </div>
                                            <div class="item-loyalty__line"></div>
                                            <div class="item-loyalty__estimation">
                                                <img src={% static "images/estimation1.svg" %} alt="" />
                                                <p>Эксперт</p>
                                            </div>
                                            <div class="item-loyalty__line"></div>
                                            <div class="active item-loyalty__estimation">
                                                <img src={% static "images/estimation2.svg" %} alt="" />
                                                <p>Мастер ароматов</p>
                                            </div>
                                        </div>
                                        
                                        {% endif %}

                                        <div class="item-loyalty__item">
                                            <div class="item-loyalty__row">
                                                <p>Ваш текущий уровень:</p>
                                                <p class="bold">{{ loyal_status }}</p>
                                            </div>
                                            <div class="item-loyalty__row">
                                                {% if loyal_status != 'Мастер ароматов' %}
                                                    <p>Вам нужно набрать <span class="bold">{{ future_bonuses }} Арома-баллов</span> для достижения следующего уровня.</p>
                                                {% else %}
                                                    <p>Вы достигли наивысшего уровня в программе лояльности Corgifume! теперь Вам открыты все двери!</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="item-loyalty__item">
                                            <div class="item-loyalty__title-item">Ваши текущие привилегии:</div>
                                            {% if loyal_status == 'Новичок' %}
                                                <div class="item-loyalty__row">
                                                    <img src={% static "images/plus-bonus.svg" %} width="34" height="34" alt="" />
                                                    <p>1% к дополнительным бонусам при совершении покупок на сайте.</p>
                                                </div>
                                                <div class="item-loyalty__row">
                                                    <img src={% static "images/birthday.svg" %} width="34" height="34" alt="" />
                                                    <p>Дополнительная скидка 3% на заказ в течение 14 дней до и 14 дней после дня рожденияна одну покупку до 100 тыс. рублей.</p>
                                                </div>
                                                <div class="item-loyalty__row">
                                                    <img src={% static "images/testers.svg" %} width="34" height="34" alt="" />
                                                    <p>А также пробник в подарок 2мл за любую покупку в магазине.</p>
                                                </div>
                                            {% endif %}
                                            {% if loyal_status == 'Любитель' %}
                                                <p>1.1% к дополнительным бонусам при совершении покупок на сайте.</p>
                                                <p>Дополнительная скидка 5% на заказ в течение 14 дней до и 14 дней после дня рождения на одну покупку до 100 тыс. рублей.</p>
                                                <p>А также пробник в подарок 3мл за любую покупку в магазине.</p>
                                            {% endif %}
                                            {% if loyal_status == 'Знаток' %}
                                                <p>1.2% к дополнительным бонусам при совершении покупок на сайте.</p>
                                                <p>Дополнительная скидка 7% на заказ в течение 14 дней до и 14 дней после дня рождения на одну покупку до 100 тыс. рублей.</p>
                                                <p>А также пробники в подарок 2+2мл за любую покупку в магазине.</p>
                                            {% endif %}
                                            {% if loyal_status == 'Эксперт' %}
                                                <p>1.3% к дополнительным бонусам при совершении покупок на сайте.</p>
                                                <p>Дополнительный подарок к заказу в течение 14 дней до и 14 дней после дня рождения на одну покупку до 100 тыс. рублей.</p>
                                                <p>А также пробники в подарок 3+2мл за любую покупку в магазине.</p>
                                            {% endif %}
                                            {% if loyal_status == 'Мастер Ароматов' %}
                                                <p>1.5% к дополнительным бонусам при совершении покупок на сайте.</p>
                                                <p>Дополнительный подарок к заказу в течение 14 дней до и 14 дней после дня рождения на одну покупку до 100 тыс. рублей.</p>
                                                <p>А также пробники в подарок 3+3мл за любую покупку в магазине.</p>
                                            {% endif %}
                                        </div>
                                        <div class="item-loyalty__button-row"><a href="#" class="button item-loyalty__button">Подробнее о программе лояльности</a></div>
                                    </div>
                                </div>
                                <div class="office__item-body tab-body item-support">
                                    <div class="office__body-title">
                                        <p>Часто задаваемые вопросы</p>
                                        <div class="office__button-back">Назад</div>
                                    </div>
                                    <div class="item-support__row">
                                        <div class="item-support__body">
                                            <div class="item-support__title">Часто задаваемые вопросы</div>
                                            <p class="item-support__text">Если у Вас остались ещё вопросы, то напишите нам в <span>Telegram</span></p>
                                        </div>
                                        <div class="item-support__quest">
                                            <div class="item-support__spoller">
                                                <div class="item-support__title-spoller">
                                                    <p>Как я могу быть уверен(а) в подлинности парфюмерии в CORGIFUME?</p>
                                                    <img src={% static "images/select-str.svg" %} alt="" />
                                                </div>
                                                <div class="item-support__body-spoller">
                                                    В CORGIFUME мы гарантируем 100% подлинность всех наших ароматов. Мы работаем напрямую с известными брендами и официальными дистрибьюторами, чтобы обеспечить вас только оригинальной продукцией высочайшего качества.
                                                </div>
                                            </div>
                                            <div class="item-support__spoller">
                                                <div class="item-support__title-spoller">
                                                    <p>Есть ли у вас программа лояльности для постоянных покупателей?</p>
                                                    <img src={% static "images/select-str.svg" %} alt="" />
                                                </div>
                                                <div class="item-support__body-spoller">
                                                    Да, в CORGIFUME мы разработали мотивирующую программу лояльности, которая не только предлагает нашим клиентам эксклюзивные скидки и специальные предложения, но и включает в себя уникальные привилегии для наших постоянных покупателей. С увеличением вашего уровня в программе лояльности вы получаете больше пробников в подарок к каждому заказу, увеличивается количество бонусных баллов за покупки, а также вы получаете эксклюзивные привилегии в день рождения — от скидок на любой аромат до возможности выбрать аромат в подарок абсолютно бесплатно.  
                                                </div>
                                            </div>
                                            <div class="item-support__spoller">
                                                <div class="item-support__title-spoller">
                                                    <p>Могу ли я получить пробник перед покупкой полноразмерного продукта?</p>
                                                    <img src={% static "images/select-str.svg" %} alt="" />
                                                </div>
                                                <div class="item-support__body-spoller">
                                                    Конечно! Мы предлагаем возможность заказа пробников, а также услугу доставки выбранного аромата курьером для пробной фиксации. Это позволит вам убедиться в выборе перед покупкой. Детали услуги и как ею воспользоваться, вы найдете на нашем сайте.
                                                </div>
                                            </div>
                                            <div class="item-support__spoller">
                                                <div class="item-support__title-spoller">
                                                    <p>Какие способы оплаты вы принимаете?</p>
                                                    <img src={% static "images/select-str.svg" %} alt="" />
                                                </div>
                                                <div class="item-support__body-spoller">
                                                    Мы принимаем все виды онлайн-оплаты через наш сайт. К сожалению, наличные и наложенный платеж не принимаются. Все транзакции защищены и безопасны.
                                                </div>
                                            </div>
                                            <div class="item-support__spoller">
                                                <div class="item-support__title-spoller">
                                                    <p>Каковы условия доставки?</p>
                                                    <img src={% static "images/select-str.svg" %} alt="" />
                                                </div>
                                                <div class="item-support__body-spoller">
                                                    Для покупателей из Москвы мы предлагаем услугу доставки день в день с помощью наших курьеров. В другие регионы России доставка осуществляется через СДЭК. Подробную информацию о сроках и стоимости доставки вы найдете на нашем сайте.
                                                </div>
                                            </div>
                                            <div class="item-support__spoller">
                                                <div class="item-support__title-spoller">
                                                    <p>Что делать, если аромат, который я ищу, отсутствует на сайте?</p>
                                                    <img src={% static "images/select-str.svg" %} alt="" />
                                                </div>
                                                <div class="item-support__body-spoller">
                                                    Если вы не нашли нужный аромат на нашем сайте, пожалуйста, свяжитесь с нами через форму обратной связи или онлайн-чат. Возможно, аромат есть в наличии, но пока не добавлен на сайт. Мы постараемся оперативно решить ваш вопрос и предоставить возможность покупки.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-support__button-row">
                                        <a href="#" class="button white item-support__button">Онлайн чат </a><a href="#" class="button white item-support__button">Написать вопрос в Telegram </a>
                                        <a href={% url 'users:question' %} class="button white item-support__button">Написать обращение </a>
                                        <a href="#" class="button item-support__button">Мои обращения</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="_overlay-bg popup-remove" data-popup="popup-remov">
                    <div class="popup-remove__body">
                        <div class="button-close popup-remove__button-close"><img src="images/button-close.svg" alt="" /></div>
                        <div class="popup-remove__title">Удаление товара</div>
                        <p>Удалить выбранный товар? Отменить действие будет невозможно.</p>
                        <div class="popup-remove__button-row">
                            <div class="button white button-close popup-remove__button">Оставить</div>
                            <div class="button button-close popup-remove__button">УДАЛИТЬ</div>
                        </div>
                    </div>
                </div>
            </main>
{% endblock %}
