{% extends "base.html" %}

{% block content %}
{% load widget_tweaks %}

<div class="profileSettings" style="margin-top:280px;">
    <div class="formPlace">
        <h1 style="text-align:center;">Ваш заказ</h1>
        
            <div class="formContent">
                <form action="{% url 'users:login' %}" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="{{ form.name.id_for_label }}" class="custom-label-class">Имя и фамилия клиента:</label>
                        {{ form.name|add_class:"registrationFormDes" }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.phone.id_for_label }}" class="custom-label-class">Номер телефона:</label>
                        {{ form.phone|add_class:"registrationFormDes" }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.shipping_address.id_for_label }}" class="custom-label-class">Адрес доставки:</label>
                        {{ form.shipping_address|add_class:"registrationFormDes" }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.order_number.id_for_label }}" class="custom-label-class">Номер заказа:</label>
                        {{ form.order_number|add_class:"registrationFormDes" }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.order_date.id_for_label }}" class="custom-label-class">Дата формирования заказа:</label>
                        {{ form.order_date|add_class:"registrationFormDes" }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.product.id_for_label }}" class="custom-label-class">Продукция:</label>
                        {{ form.product|add_class:"registrationFormDes" }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.order_price.id_for_label }}" class="custom-label-class">Стоимость:</label>
                        {{ form.order_price|add_class:"registrationFormDes" }}
                    </div>

                    <button type="submit" class="changeFormBtn">Войти</button>
                </form>
            </div>
        
        
    </div>
</div>

{% endblock %}