{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Оплата{% endblock %}
{% load static %}
{% block content %}
            <main class="page">
                <div data-observ></div>
                <div class="making">
                    <div class="making__container">
                        <div class="crumbs making__crumbs">
                            <div class="crumbs__item">
                                <a href={% url 'main_page' %}>Главная </a>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                    <path d="M7.5 15.5L12.5 10.5L7.5 5.5" stroke="#667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="crumbs__item">
                                <a href={% url 'cart:cart_detail' %}>Корзина </a>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                    <path d="M7.5 15.5L12.5 10.5L7.5 5.5" stroke="#667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="crumbs__item select">
                                <a href="#">Оформление заказа</a>
                            </div>
                        </div>
                        <h2 class="making__title">Оформление заказа</h2>
                        <form action="#" class="making__form" id="making__form">
                            <div class="checkbox making__row">
                                <div class="delivery making__delivery">
                                    <h3 class="delivery__title">Доставка</h3>
                                    <p class="delivery__sub-text">Выберите подходящий вам вариант оплаты:</p>
                                    <div class="delivery__body">
                                        <div class="checkbox-del delivery__checkbox-item _active">
                                            <img src={% static "images/payment.svg" %} alt="" />
                                            <div class="checkbox-del__body">
                                                <div class="checkbox-del__bank">Tinkoff</div>
                                                <div class="checkbox-del__term">Срок истечения 06/2024</div>
                                                <div class="checkbox-del__button">Изменить</div>
                                            </div>
                                            <div class="checkbox-del__checked">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                                    <path d="M8.33329 2.5L3.74996 7.08333L1.66663 5" stroke="white" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>
                                            </div>
                                            <input type="radio" checked="checked" id="payment1" name="payment" class="checkbox-del__input" />
                                        </div>
                                        <div class="checkbox-del delivery__checkbox-item">
                                            <img src={% static "images/mastercard.svg" %} alt="" />
                                            <div class="checkbox-del__body">
                                                <div class="checkbox-del__bank">ЮMoney</div>
                                                <div class="checkbox-del__term">Срок истечения 06/2024</div>
                                                <div class="checkbox-del__button">Изменить</div>
                                            </div>
                                            <div class="checkbox-del__checked">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                                    <path d="M8.33329 2.5L3.74996 7.08333L1.66663 5" stroke="white" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>
                                            </div>
                                            <input type="radio" id="payment2" name="payment" class="checkbox-del__input" />
                                        </div>
                                        <div class="checkbox-del delivery__checkbox-item">
                                            <img src={% static "images/mastercard.svg" %} alt="" />
                                            <div class="checkbox-del__body">
                                                <div class="checkbox-del__bank">Сбербанк</div>
                                                <div class="checkbox-del__term">Срок истечения 06/2024</div>
                                                <div class="checkbox-del__button">Изменить</div>
                                            </div>
                                            <div class="checkbox-del__checked">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                                    <path d="M8.33329 2.5L3.74996 7.08333L1.66663 5" stroke="white" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>
                                            </div>
                                            <input type="radio" id="payment3" name="payment" class="checkbox-del__input" />
                                        </div>
                                        <div class="checkbox-del delivery__checkbox-item">
                                            <img src={% static "images/mastercard.svg" %} alt="" />
                                            <div class="checkbox-del__body">
                                                <div class="checkbox-del__bank">Сбербанк</div>
                                                <div class="checkbox-del__term">Срок истечения 06/2024</div>
                                                <div class="checkbox-del__button">Изменить</div>
                                            </div>
                                            <div class="checkbox-del__checked">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                                    <path d="M8.33329 2.5L3.74996 7.08333L1.66663 5" stroke="white" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>
                                            </div>
                                            <input type="radio" id="payment4" name="payment" class="checkbox-del__input" />
                                        </div>
                                        <div class="delivery__row-bonus">
                                            <p>У вас 17 000 бонусов</p>
                                            <form method="POST" class="entrance__form form-ent">
                                                {% csrf_token %}
                                                <div class="form-ent__item">
                                                    <label for="name" class="delivery__label">Списать бонусов:</label> 
                                                    {{ form.current_bonuses|add_class:"delivery__input" }}
                                                </div>
                                            </form>
                                        </div>
                                        <div class="button white delivery__button-bonus">Списать бонусы</div>
                                        <button class="button delivery__button">ПОДТВЕРДИТЬ ЗАКАЗ</button>
                                    </div>
                                    <p class="delivery__text">Нажимая на кнопку вы соглашаетесь на обработку ваших персональных данных</p>
                                </div>
                                <div class="making__score score-making">
                                    <h3>Ваш счет</h3>
                                    <div class="score-making__body">
                                        <div class="score-making__item">
                                            <p>Услуга</p>
                                            <p>Стоимость</p>
                                        </div>
                                        <div class="score-making__item">
                                            <p>25 товаров</p>
                                            <p>27 200 RUB</p>
                                        </div>
                                        <div class="score-making__item">
                                            <p>Скидка</p>
                                            <p>7 500 RUB</p>
                                        </div>
                                        <div class="score-making__item">
                                            <p>Доставка</p>
                                            <p>3 500 RUB</p>
                                        </div>
                                        <div class="score-making__title-bonus">
                                            <p>Бонусы</p>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                                                <g clip-path="url(#clip0_422_4795)">
                                                    <path
                                                        d="M15.9834 31.9668C24.8108 31.9668 31.9668 24.8108 31.9668 15.9834C31.9668 7.15602 24.8108 0 15.9834 0C7.15602 0 0 7.15602 0 15.9834C0 24.8108 7.15602 31.9668 15.9834 31.9668Z"
                                                        fill="#FEA048"
                                                    />
                                                    <path
                                                        d="M15.9833 28.4186C22.8511 28.4186 28.4186 22.8511 28.4186 15.9833C28.4186 9.11554 22.8511 3.5481 15.9833 3.5481C9.11554 3.5481 3.5481 9.11554 3.5481 15.9833C3.5481 22.8511 9.11554 28.4186 15.9833 28.4186Z"
                                                        fill="white"
                                                    />
                                                    <path
                                                        d="M15.9833 28.7834C8.9533 28.7834 3.18335 23.0466 3.18335 15.9833C3.18335 8.9533 8.9533 3.18335 15.9833 3.18335C23.0134 3.18335 28.7834 8.9533 28.7834 15.9833C28.7834 23.0466 23.0466 28.7834 15.9833 28.7834ZM15.9833 3.91288C9.31806 3.91288 3.91288 9.31806 3.91288 15.9833C3.91288 22.6486 9.31806 28.0538 15.9833 28.0538C22.6486 28.0538 28.0538 22.6486 28.0538 15.9833C28.0538 9.31806 22.6486 3.91288 15.9833 3.91288Z"
                                                        fill="#0C0103"
                                                    />
                                                    <path
                                                        d="M16.7462 9.58341L18.3379 12.7668C18.4705 12.999 18.7026 13.1648 18.9679 13.2311L22.483 13.7285C23.1462 13.828 23.4446 14.657 22.9472 15.1544L20.3938 17.6414C20.1949 17.8404 20.0954 18.1057 20.1617 18.371L20.7254 21.886C20.8581 22.5492 20.1285 23.0798 19.5317 22.7482L16.3814 21.0901C16.1493 20.9575 15.8508 20.9575 15.6187 21.0901L12.4684 22.7482C11.8716 23.0798 11.142 22.5492 11.2747 21.886L11.8716 18.371C11.9047 18.1057 11.8384 17.8404 11.6394 17.6414L9.08606 15.1544C8.58865 14.6901 8.85394 13.828 9.55031 13.7285L13.0653 13.2311C13.3306 13.1979 13.5627 13.0321 13.6954 12.7668L15.2871 9.58341C15.5524 8.98652 16.4477 8.98652 16.7462 9.58341Z"
                                                        fill="#FEA048"
                                                    />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_422_4795"><rect width="32" height="32" fill="white" /></clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                        <div class="score-making__item score-making__item-downs">
                                            <p>Списание</p>
                                            <p class="number">2 700</p>
                                        </div>
                                        <div class="score-making__item score-making__item-accrual">
                                            <p>Начисление</p>
                                            <p class="number">1 200</p>
                                        </div>
                                        <div class="score-making__item score-making__item-result">
                                            <p>Итого к оплате</p>
                                            <p>55 680</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="_overlay-bg popup-remove" data-popup="popup-remov">
                    <div class="popup-remove__body">
                        <div class="button-close popup-remove__button-close">
                            <img src={% static "images/button-close.svg" %} alt="" />
                        </div>
                        <div class="popup-remove__title">Удаление товара</div>
                        <p>Удалить выбранный товар? Отменить действие будет невозможно.</p>
                        <div class="popup-remove__button-row">
                            <div class="button white button-close popup-remove__button">Оставить</div>
                            <div class="button button-close popup-remove__button">УДАЛИТЬ</div>
                        </div>
                    </div>
                </div>
            </main>
{% endblock %}
