{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}

<div class="profileSettings" style="margin-top:250px;">
    <div class="formPlace">
        <h1 style="text-align:center;">Авторизация</h1>
        <div class="formContent">
                <form action="{% url 'users:login' %}" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="{{ form.username.id_for_label }}" class="custom-label-class">Номер телефона:</label>
                        {{ form.username|add_class:"registrationFormDes" }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.password.id_for_label }}" class="custom-label-class">Пароль:</label>
                        {{ form.password|add_class:"registrationFormDes" }}
                    </div>

                    <button type="submit" class="changeFormBtn">Войти</button>
                    <div class="reverseLinks">
                        <a href="{% url 'users:password_reset_lk' %}" class="loginLinks">Забыли пароль?</a>
                        <a href="{% url 'main_page' %}" class="loginLinks">Обратно на главную</a>
                    </div>
                </form>
        </div>
    </div>
</div>
    
        
{% endblock %}
