* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    list-style: none;
}

body {
    position: relative;
    height: 100vh;
    background-color: white;
}

/* СТИЛИ ГЛАВНОЙ СТРАНИЦЫ */

#main-page-content {
    padding-top: 207px;
}

.main-block {
    margin-top: 70px;
    background-image: url('/static/main_application/img/offer1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.album-paragraph {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.album-paragraph-2 {
    margin-top: -60px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.album-paragraph-3 {
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.special-paragraph {
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.authors-block {
    text-align: center;
    margin-top: 40px;
}

.authors-paragraph {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.references-paragraph {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

/* МЕНЮ */

.upper-menu-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 9999;
}

.menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #f4f4f4;
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
    border-bottom: 2px solid #f4f4f4;
}

.item-menu {
    display: flex;
    align-items: center;
}

.logo-menu {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    margin-left: 20px;
    display: inline-block;
}

.form-block {
    margin-left: -350px;
}

.w-100 {
    width: 100%;
}

.headerSearch_input {
    box-sizing: border-box;
    font-family: "Work Sans",sans-serif;
    font-size: 16px;
    border: 1px solid #8c8c8c;
    border-radius: 0;
    padding: 7px;
    background-color: #fff;
    outline: 0;
    height: 40px;
    max-height: 72px;
    color: #333;
    width: 200%;
    max-width: 500px;
    }

.account-block {
    position: absolute;
    margin-left: 1005px;
    padding: 10px;
}

.cart-block {
    margin-right: 20px;
    padding: 10px;
}

.account {
    text-decoration: none;
    color: rgb(63, 63, 63);
    font-size: 20px;
    margin-left: 5px;
}

.cart {
    text-decoration: none;
    color: rgb(63, 63, 63);
    font-size: 20px;
    margin-left: 5px;
}

.account-block:hover {
    background-color: #f4f4f4;
}

.cart-block:hover {
    background-color: #f4f4f4;
}

.buttons-section {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 10px;
    background-color: #ffffff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: none;
    width: 148%;
}

.buttons-section-cart {
    position: absolute;
    margin-top: 10px;
    margin-right: 42px;
    right: 0;
    padding: 10px;
    background-color: #ffffff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: none;
}

.buttons-section li {
    margin-bottom: 10px;
}

.buttons-section hr {
    margin-top: 10px;
    border: none;
    border-top: 1px solid #ccc;
}

.sign-in {
    background-color: #000;
    border-width: 2px;
    border-style: solid;
    border-color: #000;
    font-family: "Work Sans",sans-serif;
    font-size: 15px;
    letter-spacing: .19px;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.33;
    display: block;
    transition: background-color .2s;
    padding: 12.5px 12px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
}

.reg {
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    font-family: "Work Sans",sans-serif;
    font-size: 16px;
    letter-spacing: .19px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(63, 63, 63);
    line-height: 1.5;
    display: inline-block;
    transition: background-color .2s;
    padding: 12.5px 12px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

.cart-in {
    background-color: #000;
    border-width: 2px;
    border-style: solid;
    border-color: #000;
    font-family: "Work Sans",sans-serif;
    font-size: 15px;
    letter-spacing: .19px;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.33;
    display: block;
    transition: background-color .2s;
    padding: 12.5px 12px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    margin-top: 10px;
}

.cart-in:hover {
    background-color: rgb(255, 227, 231);
    color: rgb(63, 63, 63);
    text-decoration: underline;
}

.sign-in:hover {
    background-color: rgb(255, 227, 231);
    color: rgb(63, 63, 63);
    text-decoration: underline;
}

.reg:hover {
    background-color: rgb(255, 227, 231);
    color: black;
    text-decoration: underline;
}

.cartCondition {
    font-family: "Work Sans",sans-serif;
    font-size: 16px;
    letter-spacing: .19px;
    text-decoration: none;
    
    line-height: 1.5;
    display: inline-block;
    transition: background-color .2s;
    padding: 12.5px 12px;
    text-align: center;
    box-sizing: border-box;
}

.responsiveFlyoutBasket_basketItemLink {
    display: flex;
    text-decoration: none;
}
  
.responsiveFlyoutBasket_basketItemImageColumn {
    margin-left: -30px;
}
  
.responsiveFlyoutBasket_basketItemTitle {
    word-break: break-word;
    margin: 0;
    margin-left: 12px;
    color: #333;
}

.responsiveFlyoutBasket_basketItemTitle:hover {
    text-decoration: underline;
}
  
.responsiveFlyoutBasket_basketItemPrice,
.responsiveFlyoutBasket_basketItemQuantity {
    margin: 0;
    color: #999;
    margin-left: 12px;
}
  

.widgets-block {
    display: flex;
    background-color: rgb(255, 241, 241);
}

.widget {
    margin-left: 70px;
    flex: 1;
}

.widget-link{
    text-decoration: none;
    color: rgb(63, 63, 63);
    font-size: 18px;
}

.responsiveAccountHeader_accountIcon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.categories-link {
    border-bottom: 1px solid #f4f4f4;
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
    padding: 15px;
  
}

.categories-link ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: -15px;
    margin-bottom: -15px;
}

.categories-link ul li {
    float: left;
    display: block;
    padding: 10px 20px 10px 16px;
}

.categories-link ul li a {
    text-decoration: none;
    color: rgb(63, 63, 63);
    font-size: 18px;
}

.categories-link ul li:hover {
    background-color: #f4f4f4;
    transition: 0.6s;
}

.categories-link ul li:not(:hover) {
    transition: .6s;
    background-color: white;
}


/* СТИЛИ БРЕНДОВ */

.brands-nav {
    /* margin-top: 100px; */
    padding-top: 260px;
}

.brands-parahraph {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.brands-nav nav ul {
    text-align: center;

}

.brands-nav nav ul li {
    position: relative;
    margin-bottom: 100px;
    display: inline-block;
    border: 1px solid black;
}

.brands-nav nav ul li a {
    text-decoration: none;
    padding: 15px;
    color: black;
    font-size: 16px;
    display: block;
}

.brands-nav nav ul li a:hover {
    transition: .6s;
    background-color: #f4f4f4;
}

.brands-nav nav ul li a:not(:hover) {
    transition: .6s;
}

.letter {
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin-left: 60px;
}

.brands-panel ul {
    margin-left: 130px;
    column-count: 3;
    column-gap: 20px; /* между колонками */

}

.brands-panel ul a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.brands-panel ul a:hover {
    text-decoration: underline;
    transition: .5s;
}

/* СТИЛИ ПОДВАЛА */

footer {
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 25px;
}

footer a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-right: 30px;
}

footer a:hover {
    transition: .5s;
    color: #6c757d;
}


/* СТИЛИ СТРАНИЦЫ БЛОГ */

.post-wrapper {
    margin-top: 250px;
    min-height: 100vh;
}

/* СТИЛИ КОСМЕТИКИ */

.brandLogos {
    padding-top: 250px;
}

.brandLogos_title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.brandLogos_link {
    margin-left: 16px;
    margin-right: 5px;
}

.brandLogos_image {
    opacity: .7;
}

.brandLogos_image:hover {
    filter: brightness(115%);

}

.cosmetics-paragraph-1 {
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.cosmetics-items {
    margin-top: 40px;
    display: flex;
    margin-left: 20px;
}

.item {
    flex: 1;
    margin-right: 20px;
}

.item-header {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.item-text {
    font-size: 16px;
}

.itm-btn {
    justify-content: center;
}

.cosmetics-final-text {
    margin-top: 20px;
}

.final-header {
    font-weight: bold;
    font-size: 22px;
    margin-left: 20px;
}

.final-text {
    margin-left: 20px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

/* СТИЛИ СТРАНИЦЫ АКЦИИ */

.discounts-block {
    display: flex;
    margin-left: 50px;
    padding-top: 250px;
}

.discounts-header {
    font-family: "Work Sans",sans-serif;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #333;
    font-weight: 700;
    text-transform: none;
    font-weight: 700;
    text-align: center;
}

.discount-row {
    display: flex;
    flex-basis: 33.33%; 
}

.discount-item {
    flex: 1;
    margin-right: 20px;
    width: calc(33.33% - 10px);
    margin-bottom: 10px;
}

.item-text-link {
    color: black;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #333;
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
    display: block;
    margin: 0;
    word-break: break-word;
}

.item-text-link:hover {
    color: #6c757d;
    text-decoration: underline;
}


.item-text {
    margin-top: 10px;
    font-size: 18px;
}

.discount-ex-price {
    text-decoration: line-through;
    font-size: 16px;
    font-weight: bold;
}

.discount-current-price {
    font-weight: bold;
    font-size: 20px;
}

.itm-btn {
    background-color: black;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
}

.itm-btn:hover {
    transition: .6s;
    background-color: rgba(251, 158, 158, 0.72);
    color: black;
    text-decoration: underline;
}

.itm-btn:not(:hover) {
    transition: .6s;
    text-decoration: none;
    background-color: black;
    color: white;
}


.sort-container {
    float: left;
}

.sort_header {
    font-family: "Work Sans",sans-serif;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #333;
    font-weight: 700;
    text-transform: none;
    font-weight: 700;
    flex: 1;
    text-align: left;
}

.responsiveFacets_sectionHeadWrapper {
    position: relative;
    width: 300px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.responsiveFacets_overrideButtonStyle {
    border: 0;
    background: 0 0;
}

.responsiveFacets_sectionTitle {
    font-family: "Work Sans",sans-serif;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #333;
    font-weight: 700;
    text-transform: none;
    font-weight: 700;
    flex: 1;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.responsiveFacets_sectionCaret {
    flex: 0 0 auto;
    box-sizing: border-box;
}

.responsiveFacets_sectionContent  {
    
    width: 300px;

    font-size: 18px;
    line-height: 30px;
    font-weight: inherit;
    font-style: inherit;
    text-indent: 0;
    text-decoration: none;
    white-space: normal;
    margin: 0;
    padding: 0;
    height: initial;
    border: 0;
    background: 0 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.responsiveFacets_sectionItemCheckbox {
    content: '';
    background: #fff;
    height: 17px;
    width: 17px;
    border: 1px solid #d0d5da;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 8px;
    vertical-align: middle;
    flex-shrink: 0;
}

.responsiveProductListPage_sort {
    margin-left:60px;
    margin-bottom: 30px;
}

.responsiveSort_label {
    font-size: 20px;
    color: #333;
    font-family: Roboto;
    height: 40px;
    line-height: 40px;
    padding-right: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

.responsiveSort_selectSVG {
    pointer-events: none;
    position: absolute;
    margin-left: 160px;
    margin-top: 8px;
}

.responsiveSort_select {
    box-sizing: border-box;
    font-family: "Work Sans",sans-serif;
    font-size: 16px;
    line-height: 14px;
    border: 1px solid #8c8c8c;
    border-radius: 4px;
    background-color: #fff;
    padding: 8px;
    min-height: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position: right 8px center;
    background-repeat: no-repeat;
    font-family: "Work Sans",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #333;
    font-weight: 400;
    text-transform: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 20%;
    min-height: 0;
    height: 40px;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 19.2px;
    background-image: none;
    border-radius: inherit;
}

.sort-container-inform {
    display: block; 
    width: 300px;
}

.sort-container-inform.hide-menu {
    display: none; 
}

.rotate {
    transform: rotate(180deg);
}

.responsiveFacets_sectionItemValue {
    font-size: 18px;
    font-family: "Work Sans",sans-serif;
    color: #333;
}

/* СТИЛИ СТРАНИЦЫ КОНТАКТЫ */

.contacts-block {
    margin-top: 250px;
}

.contacts-content {
    text-align: center;
}

.helpCentre_searchBar{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    background: #fff;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    border: 1px solid #c4c4c4;
}

.helpCentre_section {
    display: block;
    margin-top: 30px;
    margin-bottom: 16px;
    width: 98%;
}

.helpCentre_sectionTitle, .helpCentre_noResultsDivider {
    font-family: "Work Sans",sans-serif;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0;
    color: #333;
    font-weight: 400;
    text-transform: none;
    margin-top: 0;
    margin-bottom: 16px;
    text-transform: capitalize;
    outline: 0;
}

.helpCentre_accordion {
    margin-top: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #c4c4c4;
    box-shadow: 0 2px 5px rgba(51,51,51,.1);
    transition: max-height .15s ease-out;
    overflow: hidden;
    border-radius: 6px;
}

.helpCentre_menu {
    flex-basis: 100%;
    align-self: flex-start;
    float: left;
    margin-right: 20px;
    width: 30%;
    margin-top: 30px;
}

.helpCentre_menuTitle {
    font-family: "Work Sans",sans-serif;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0;
    color: #333;
    font-weight: 400;
    text-transform: none;
    margin-left: 25px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    text-transform: capitalize;
    position: relative;
}

.helpCentre_menuList {
    background-color: #fff;
    list-style: none;
    margin-top: 10px;
    border: 1px solid #c4c4c4;
    margin-left: 25px;
    box-shadow: 0 2px 5px rgba(51,51,51,.1);
}

.helpCentre_menuItem {
    font-family: "Work Sans",sans-serif;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: .3px;
    color: #333;
    font-weight: 400;
    display: block;
    color: #333;
    background-color: #fff;
    padding-top: 5.33333px;
    padding-right: 8px;
    padding-bottom: 5.33333px;
    padding-left: 8px;
    text-decoration: none;
    text-transform: inherit;
    text-align: left;
    border-top: 0;
}

.helpCentre_accordionIcon {
    width: 14px;
    height: 14px;
    vertical-align: middle;
}

.helpCentre_menuItem:hover {
    color: #6c757d;
}

.helpCentre_accordionTitleWrapper {
    border: 0;
    display: flex;
    flex-wrap: no-wrap;
    align-items: center;
    justify-content: space-between;
    color: #333;
    padding-top: 10px;
    padding-right: 8px;
    padding-bottom: 10px;
    padding-left: 8px;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    width: 100%;
}

.helpCentre_searchInput_label {
    font-size: 16px;
    line-height: 16px;
    font-weight: inherit;
    font-style: inherit;
    text-indent: 0;
    text-decoration: none;
    white-space: normal;
    margin: 0;
    padding: 0;
    height: initial;
    border: 0;
    background: 0 0;
    list-style: none;
    vertical-align: baseline;
    border-collapse: collapse;
    border-spacing: 0;
    content: '';
    content: none;
    quotes: none;
    box-sizing: border-box;
}

.helpCentre_searchInput::placeholder {
    font-family: "Work Sans",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #333;
    font-weight: 400;
    text-transform: none;
}

.helpCentre_searchInput {
    width: inherit;
    background: inherit;
    height: auto;
    flex-basis: 100%;
    padding-top: 0;
    padding-right: 8px;
    padding-bottom: 0;
    padding-left: 8px;
    border: 0;
    margin: 0;
    outline: 0;
    box-shadow: none;
}

.helpCentre_cs_cards {
    text-align: center;
}

.helpCentre_row-cs-title {
    font-family: "Work Sans",sans-serif;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -.5px;
    color: #333;
    font-weight: 600;
    padding-top: 0;
    margin-bottom: 24px;
}

.csCard_row {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.csCard_wrapper {
    flex: 1;
    width: 50%;
}

.first-child {
    margin-left: 300px;
}

.last-child {
    margin-right: 300px;
}

.csCard_svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
    height: 64px;
    width: 64px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.csCard-liveChat, .csCard-phone {
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #c4c4c4;
    border-radius: 6px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 16px;
    min-height: 180px;
    width: 50%;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    top: 0;
    display: inline-block;
    transition: box-shadow .1s ease-in-out,top,.1s ease-in-out;
    box-shadow: 0 0.8px 3.2px rgba(204,204,204,.84), 0 0.8px 3.2px rgba(204,204,204,.77);
}

.telegram-csCard {
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #c4c4c4;
    border-radius: 6px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 16px;
    min-height: 180px;
    width: 50%;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    top: 0;
    display: inline-block;
    transition: box-shadow .1s ease-in-out,top,.1s ease-in-out;
    box-shadow: 0 0.8px 3.2px rgba(204,204,204,.84), 0 0.8px 3.2px rgba(204,204,204,.77);
}

.csCard_cardAsLink {
    text-decoration: none;
    color: #333;
}

.registrationAnswer.open-answer {
    display: block; 
}

/* СТИЛИ АВТОРИЗАЦИИ */

.auth-block {
    margin-top: 290px;
}

/* СТИЛИ СТРАНИЦЫ С ДЕТАЛЯМИ КОРЗИНЫ */

.cartMainBlock {
    padding-top: 290px;
}







